[2018-11-19 01:37] kenshinji opened #1 "Is it possible to have documentation written in English?"
That would be great, thanks. I wish I could help on it, however I only know English and Chinese.

[2018-11-19 02:32] BcRikko commented on #1
Thanks 👍

I know English a little bit, while I don't know Chinese.
Please give me some time to write document in English.

[2018-11-19 09:34] BcRikko commented on #1
Yeah! 😆
When the English document  is finished, I will create a translation issue. then cloud you help me translate into Chinese?

[2018-11-19 09:34] #1 closed

[2018-11-19 13:58] kenshinji commented on #1
sure thing, dude :) @BcRikko

[2018-11-20 02:53] gaoryrt opened #2 "feature request: 8-bit cursors"
brilliant repo!
it would be nice if there're 8-bit cursors.

like in https://modalzmodalzmodalz.com/

[2018-11-20 03:06] BcRikko commented on #2
Thanks!

That's a good idea👍
 I'll try making 8 bit cursors.

[2018-11-26 12:50] tacensi opened #3 "input:after doesn't work on Firefox"
This is great and I really loved the radio and checkbox buttons, but they don't work on firefox. Apparently input:before or input:after are not valid css, because input element does not have content:
https://stackoverflow.com/a/4574946

Is it possible to move the buttons to the label?

[2018-11-27 04:13] #3 closed

[2018-11-27 08:45] megane42 opened #5 "The logo icon is not a NES controller, but SNES"
## Expected behavior

![image](https://user-images.githubusercontent.com/8451003/49069216-09d2cd80-f26c-11e8-87af-39aae62d06b2.png)

## Actual behavior

![image](https://user-images.githubusercontent.com/8451003/49069193-f889c100-f26b-11e8-8f62-161aa0028b28.png)

[2018-11-27 09:03] BcRikko commented on #5
You're right 🙆

It's a joke framework.
So, it might not be accurate.

Please have fun and use it 👍

[2018-11-27 09:40] megane42 commented on #5
OK, I understand. Close this issue if you want.
Thank you for very impressive framework <3<3

[2018-11-27 09:46] BcRikko commented on #5
I'll try making **Exact** NES Controller. 🎮
I close it when It's finished. 👍

[2018-11-27 13:23] BcRikko opened #6 "Add prefix to class name"
## ⚠️Breaking changes⚠️

Since NES.css doesn't provide layout. It maybe conflict when NES.css using the common class name.
Maybe add a prefix like ns- or nes- to solve this.

レイアウト関連のスタイルは提供していないためユーザ任せになる。そのときにNES.cssで汎用的なクラス名を使っているとコンフリクトする可能性がある。

`ns-`、`nes-`みたいなprefixをつけてコンフリクトを解消したい 🤔

[code]

[2018-11-27 23:21] IngwiePhoenix opened #7 "Feature requests"
Hello!

I found this repo in the "trending" section of Github explore - and I cant help it, but I _love_ 8-bit styled things (graphics, sounds - everything!). So I would like to make a couple feature requests, because I actually would like to design my personal blog/website-thing with 8-bit style graphics - and this would fit in just so perfectly! So:

1. Is there a method to use black-on-white by

[2018-11-27 23:46] BcRikko commented on #7
Thanks :+1:

Is request to prepare two kinds of themes? (default white theme, and dark theme)
Or to black-and-white(monochrome)?
It's difficult to create theme. but, I'll try my best 😄

OK, good ideas.

Sorry, I'm not very good at English.
so, translation to English is delayed.

It's really helpful to me.
I would like you to review my English when English docs is finished. 🙇

[2018-11-28 01:30] YuK1Game opened #8 "unresponsive on mobile"
checkbox

[2018-11-28 01:36] BcRikko commented on #8
I know. 😭
Responsive design is currently not supported.

[2018-11-28 01:42] BcRikko commented on #8
I didn't notice because I don't have ios device. 📱
<img src="https://pbs.twimg.com/media/DtDZTlcUUAAY_Yw.jpg" width="50%">

[2018-11-28 02:04] IngwiePhoenix commented on #7
Well basically, it'd be nice to be able to make a white text on black background version. Like when setting the `<body>`-element's class to something like `nes-dark`, it uses a black background and white text, instead of the black text and white background.

That's absolutely fine with me. I am German myself - so, my english is not that good either. :)

I will definitively do this!

[2018-11-28 02:14] BcRikko commented on #7
I understand 👍
I'll try it.

🎉 😄 ❤️

[2018-11-28 02:20] BcRikko commented on #7
I understand 👍
I'll try it.
![2018-11-28 11 19 17](https://user-images.githubusercontent.com/5305599/49124379-95496e80-f2ff-11e8-99ab-70dc5271503c.png)

🎉 😄 ❤️

[2018-11-28 04:05] djyde opened #9 "Should remove the input outline"
Should remove the input outline.

Before:

![image](https://user-images.githubusercontent.com/914329/49128327-d3499100-f305-11e8-9716-b82eb12e0dd4.png)

After:

![image](https://user-images.githubusercontent.com/914329/49128338-e4929d80-f305-11e8-805a-a34ad4dd2e0e.png)

[2018-11-28 04:20] BcRikko commented on #9
Thanks.

I'll fix it 🔧

[2018-11-28 06:56] djyde commented on #9
Maybe just change the outline color

[2018-11-28 07:00] BcRikko commented on #9
Oh, I see 👍

How about this?
![outline](https://user-images.githubusercontent.com/5305599/49134369-a5c10f80-f326-11e8-94ae-385dc7b98d10.gif)

[2018-11-28 07:01] djyde commented on #9
@BcRikko Look good!

[2018-11-28 22:37] #5 closed

[2018-11-28 22:55] BcRikko opened #13 "Build CSS with CI"
cssファイルがコンフリクトしてしまうので、masterにマージしたときにCIでビルドしたい

[2018-11-29 03:30] #9 closed

[2018-11-29 08:42] danchdanchdanch opened #18 "containers content is not scrollable with response design"
Containers content is not scrollable with response design
May be try something like `overflow: scroll` ?

![2018-11-29 11 41 06](https://user-images.githubusercontent.com/5562992/49209491-ae1f5600-f3cb-11e8-8901-4f2de5d26dc3.png)

[2018-11-29 08:53] mlterpstra-umc opened #19 "Primary and success button colors reversed?"
On the NES.css github.io page success and primary buttons look like this:
![2018-11-29-094947_324x70_scrot](https://user-images.githubusercontent.com/43781235/49210030-51686f00-f3bc-11e8-97c3-781e1bc5c2c3.png)

In Bootstrap they look like this:
![2018-11-29-095034_187x64_scrot](https://user-images.githubusercontent.com/43781235/49210068-6a712000-f3bc-11e8-858d-cbef5601d131.png)

As you can see the

[2018-11-29 08:53] BcRikko commented on #18
Thanks 🙇

Since `title` uses `position: absolute`, I think that `overflow: scroll` is not enough. 🤔
like below image.
![2018-11-29 17 50 42](https://user-images.githubusercontent.com/5305599/49210025-5d295500-f3ff-11e8-86ee-43759047ff96.png)

It's difficult to fix... 😭
but I'll try my best. so please give me some time 🙏

[2018-11-29 09:01] BcRikko commented on #19
Thanks.

It's a good point 👍
I didn't notice 😇

I'll fix this issue.

[2018-11-29 11:40] abouroubi opened #21 "Gnerated CSS from Pixelize adds double semi-colon instead of one"
https://github.com/BcRikko/NES.css/blob/2374bef951c2a6359dcd2041d2bdb123ce396e31/css/nes.css#L604

Please check the end of the line.
In my opinion the mixin already ends the line with ; so ne need to add another when you call the mixin.

I could do a PR if needed :)

[2018-11-29 11:54] BcRikko commented on #21
Oh, I didn't notice...
It's greate issue 👍

Is the problem code below?
https://github.com/BcRikko/NES.css/blob/2374bef951c2a6359dcd2041d2bdb123ce396e31/scss/utilities/icon-mixin.scss#L23

Please pull request 🙏 😆

[2018-11-29 13:50] scottaohara opened #22 "Button elements have no keyboard focus style"
When navigating through the test page by use of the <kbd>Tab</kbd> key, that there were no `:focus` styles for the `button` examples due to their focus outline being set to zero.

Whenever removing native focus styles from interactive controls, custom focus styles should be put in place so as to not create an inaccessible experience for those who do not navigate by mouse.

[2018-11-29 13:54] BcRikko commented on #22
Thansk for PR too. 🙇

[2018-11-29 14:06] jimmiehansson opened #25 "Suggestion for help needed/wanted to English"
It would be great if there could be an annotation added to the main README to get some traction on the translation side, at least to English. This could help the project accelerate quite a bit.

I understand that this issue has a previous #1 subject open, but I think this covers a larger surface.

What do you think?

Something in the lines of:

### **Contributors help wanted**
Maintaining this pro

[2018-11-29 15:51] abouroubi commented on #21
Yes it was this one line.

PR created.

[2018-11-29 16:01] drzaiusx11 opened #27 "should use NES color palette"
It might be more authentic to use the actual NES' color palette which is documented here:
see https://en.wikipedia.org/wiki/List_of_video_game_console_palettes#NES

[2018-11-29 16:17] scottaohara opened #28 "Demo site should associate labels with text inputs"
As discussed in #24, `id`s are not necessary to associate `label`s with their form controls, as long as those form controls are contained within the `label`.  However, if a `label` is not a parent for its form control, then the `label` should have a `for` attribute, pointing to the unique `id` of the element it is providing the accessible name to.

The text fields on the demo site would fall into

[2018-11-29 16:56] DanSnow commented on #6
Translation:

Title: Add prefix to class name

Body:

Since NES.css doesn't provide layout. It maybe conflict when NES.css using the common class name.
Maybe add a prefix like `ns-` or `nes-` to solve this.

[2018-11-29 17:09] DanSnow commented on #25
I add some translation to README and issue #6 . Maybe it's not very accurate, but I hope it could be helpful.

[2018-11-29 17:58] JamesIves commented on #25
I added some proposed changes @DanSnow so it reads better.

[2018-11-29 18:34] zreese opened #33 "Inconsistent base pixel size"
The NES did not support scaling, so the size of "one pixel" should be the same for every element. Currently this isn't the case for checkboxes and icons. Checkboxes are smaller than the single pixel used by fonts and borders, and the icons scale.

[2018-11-29 19:54] BcRikko commented on #6
@DanSnow Thanks for translate 🙇

[2018-11-29 19:59] drzaiusx11 commented on #27
NES Palette:
![nes_palette](https://user-images.githubusercontent.com/2227784/49248262-4b3bb800-f3e7-11e8-827b-8c8d494a55a6.png)

Proposed:
![nes_colors](https://user-images.githubusercontent.com/2227784/49248235-38c17e80-f3e7-11e8-894a-2a68e1b41dc6.png)

[2018-11-29 19:59] montezume opened #34 "Suggestion: remove font import"
[ref](https://github.com/BcRikko/NES.css/blob/b52db2fdf1f08a196a22b0b583b8c5572f614fcd/scss/base/variables.scss)

It would be nice if it was the responsibility of the consumer of the library to import the required Goole Font.

I would suggest leaving out the import, and updating the documentation to reflect the fact that the user should install the font themselves.

[2018-11-29 20:10] BcRikko commented on #27
It looks more NES 😍

[2018-11-29 20:15] BcRikko commented on #34
I was thinking the same thing as you, because I'm a Japanese font user, so `Press Start 2P` is not enough👍

[2018-11-29 20:30] IngwiePhoenix commented on #6
"ns-" would not be a good choice - it may be confused with "ms" when reading, whilst not paying attention. I suggest either "nes" or "ncss" or "8bit".

[2018-11-29 20:47] guastallaigor opened #35 "[Feature request] Change Table design"
Not sure if this is a good feature request, but I notice that on the `<table>` tag, you only changed the border-collapse CSS property, and did nothing else.

Maybe change the table design similar to the container, but with the possibility to also have borders. Could be a CSS class added to the table like `is-bordered` or something like that, and maybe some other things.

**Example:**
![123](https:

[2018-11-29 20:48] montezume commented on #34
@IngwiePhoenix sure, but then you remove the ability to load fonts async for users that want to do that. And for users that are already loading other Google fonts on their site, they will have to make two requests instead of one.

I think the unintended confusion could be mitigated with decent documentation. Something like:

#### Usage

This framework depends on the google font [Press Start 2P](ht

[2018-11-29 20:58] BcRikko commented on #35
It's great idea 😍

[2018-11-29 21:56] jimmiehansson commented on #34
I agree, this makes the documentation more informative and declarative while loosely coupling the distribution of the font from the framework. :+1:

[2018-11-29 22:56] #21 closed

[2018-11-29 23:15] BcRikko commented on #22
Is it OK to merge this PR? 🤔
#24 was merges.

[2018-11-29 23:19] BcRikko commented on #22
#24 was merged.

[2018-11-29 23:19] #22 closed

[2018-11-29 23:42] BcRikko commented on #28
Does this mean? ↓  🤔

### Unnecessary

[code]

### Necessary

[code]

That's right, I did not know. 😆

Do you know best practices for not duplicating IDs?
Would you teach me for my future? 🙏

[2018-11-29 23:47] scottaohara commented on #28
We can have a side conversation sometime about this, yes

[2018-11-29 23:50] BcRikko commented on #33
Thanks 🙇

I create pixel art with `box-shadow`. so unsupported scaling.
Do I have to make them↓ all the same size?(2px or 4px) 🤔

https://github.com/BcRikko/NES.css/blob/4c6bf1f8883a39e3eb3bc368ecbce3257ec99b7d/scss/elements/checkboxes.scss#L69-L70

https://github.com/BcRikko/NES.css/blob/4c6bf1f8883a39e3eb3bc368ecbce3257ec99b7d/scss/elements/radios.scss#L50-L52

https://github.com/BcRikko/NES.css

[2018-11-30 01:38] tuxun opened #37 "accentued characters are not supported by fonts"
Hi, i'm french, we sometimes use somes É È Ô Ù À (and same in lowercase: é à è ô ê etc) key on our keyboard, also know as [latin-1 or iso8859 charset](https://en.wikipedia.org/wiki/ISO/IEC_8859-1)

Sadly the font doesn't seems handle them and show `�`.
Its present on unicode under https://en.wikipedia.org/wiki/Latin-1_Supplement_(Unicode_block), i was wondering, is there a chance that someone come

[2018-11-30 07:26] andreasvirkus opened #38 "Examples section"
Hi,

First off, loving this framework ❤️ !

Would you consider adding an examples section to the readme, where people could link their
projects/websites that use this framework? I bet there are/will be a lot of cool things built with it :)
(e.g. we're building a space-invaders game for our 404 page with NES.css)

[2018-11-30 08:28] Polygonalr opened #39 "Radios has stray pixels in Firefox"
![image](https://user-images.githubusercontent.com/16399656/49277391-688e8600-f4bc-11e8-8a97-ebb8597f27c3.png)
Stray pixels appear when Radio cursor is blinking.

Does not appear in Google Chrome, the pixels appear in Firefox 63.0.3, even with different zoom levels.
Might just be a Firefox bug.

[2018-11-30 08:45] BcRikko commented on #38
Thanks ❤️

OK, I'll write 👍

[2018-11-30 08:51] BcRikko commented on #39
Thanks.

I see... but, I don't know how to resolve the problem. 😭
Please help me 🙏

Chrome70: zoom to 110%
![2018-11-30 17 48 49](https://user-images.githubusercontent.com/5305599/49278501-57e40d00-f4c8-11e8-8726-93f362820d72.png)
![2018-11-30 17 49 08](https://user-images.githubusercontent.com/5305599/49278503-57e40d00-f4c8-11e8-82db-c8728ad43bcb.png)

[2018-11-30 08:54] BcRikko commented on #13
## Travis CI

https://travis-ci.com/plans

## Circle CI

https://circleci.com/pricing/

[2018-11-30 11:43] #28 closed

[2018-11-30 14:11] trezy commented on #6
`.8bit-selector` is an invalid selector, since CSS selectors can't start with a digit. `.nes-selector` would be a good one, though, as it's not used by any other major CSS libraries.

[2018-11-30 14:30] trezy commented on #13
@BcRikko Have you already started on this? If not, I'd love to help out. I'll fork this afternoon and get it set up on CircleCI if that works for you.

I also have a few suggestions that would make it easier to manage the community that you're very swiftly building.

1. **Create a `develop` branch**
  Many large repositories have a `develop` branch for people to merge their pull requests into. Thi

[2018-11-30 14:35] trezy commented on #37
@BcRikko Between this issue and #34, it'd be great if we could get a section in the README for "Recommended Fonts." [Kongtext](https://www.dafont.com/kongtext.font) is the only other pixel font I can think of at the moment that may fit with the framework, but as users find other fonts that work well — for example, if you have a 16-bit font you use for Japanese already — they can make pull requests

[2018-11-30 14:42] crazymykl opened #42 "US SNES Controller should have lighter top row buttons"
Each row of buttons is a different color:
![US SNES Controller](https://snescentral.com/0/0/1/0016/us_snes_controller.jpg)

This project looks great! Thank you!

[2018-11-30 16:19] tuxun commented on #34
damn it, again google :/

[2018-11-30 16:21] montezume commented on #34
I can spin up a PR if there is some consensus here 😄

[2018-11-30 16:46] alexgleason commented on #39
I know how to fix this, sending a PR shortly.

[2018-11-30 17:17] alexgleason commented on #27
Please note that there are [dozens of interpretations](http://emulation.gametechwiki.com/index.php/Famicom_Color_Palette) of the NES color palette.

Internally, the NES colors are just hex values between 00-3F, but the output is RGB analog. @drzaiusx11, which version did you share?

I recommend creating a sass file like `palette.scss` where you define the colors like this:

[code]

This way the pa

[2018-11-30 17:36] alexgleason commented on #39
Wait are you talking about the white lines or the dots between the choices? My PR is for the dots between the choices, whoops.

[2018-11-30 17:41] IngwiePhoenix commented on #34
@montezume I think you may :) Go for it.

[2018-11-30 17:49] jimmiehansson commented on #34
Looks solid to me :100:

[2018-11-30 19:20] ernestomancebo commented on #39
hi @BcRikko & @Polygonalr, please take a look into my PR; somehow firefox separates the boxes and needs spread-radius to be specified.

[2018-12-01 00:59] BcRikko commented on #6
OK, `nes-` 👍

For example...
[code]

[2018-12-01 01:06] BcRikko commented on #37
It's greate idea 🎉

Is it like below? 😆

## Recommended Fonts

|Lang|Font|
|---|---|
|(Default)|[Press Start 2P](https://fonts.google.com/specimen/Press+Start+2P)|
|English|[Kongtext](https://www.dafont.com/kongtext.font)|
|Japanese|[美咲フォント](http://www.geocities.jp/littlimi/misaki.htm)|

[2018-12-01 03:04] BcRikko commented on #39
@ernestomancebo Thanks 🙇
I merged #45 👍

[2018-12-01 03:09] ernestomancebo commented on #39
Any time @BcRikko. I'll be rambling among the issues of this repo, I really like this project.

[2018-12-01 03:15] BcRikko commented on #13
I have not started this issue yet.
I'm the first time that I became the owner of a product that many people pay attention.  😨

so, please help me 🙏
and could you give me some advice please? 🙏

[2018-12-01 03:19] IngwiePhoenix commented on #6
Yes, I’d agree on that. :)

[2018-12-01 05:31] trezy commented on #13
@BcRikko of course! I did fork and start working on setting up CI this afternoon. You can check out what I’ve got so far on my fork: https://github.com/trezy/NES.css/blob/master/.circleci/config.yml

[2018-12-01 05:46] BcRikko commented on #13
oh, Thanks 🎉🎉🎉

[2018-12-01 10:46] #35 closed

[2018-12-01 12:47] BinaryMoon commented on #6
I'd suggest everything should have a prefix. is-large, is-primary etc could all be classes used in other libraries.

[2018-12-01 13:49] montezume commented on #13
How about adding the built css to gitignore once this is done? 🙏

[2018-12-01 13:57] BcRikko commented on #13
I agree 👍
It's too much hassle to resolve conflicting files resolve... 😢

so, I'd like to build CSS(dist files) with CI. 🛠

[2018-12-01 14:01] montezume commented on #13
Yes, let CI build css.

![Image of bender](https://github.com/semantic-release/semantic-release/raw/master/media/bender.png)

[2018-12-01 14:47] #37 closed

[2018-12-01 15:47] myfonj commented on #39
Glad to see this resolved :]

I think that change from last PR could be simplified: `spread` introduced in shadows could be added to base dimensions of shadowed square, so that original
`…::before{ width: 2px; height: 2px; top: -2px; left: -2px; /* box shadow with .32px spread */}`
becomes
`…::before{ width: 2.64px; height: 2.64px; top: -2.32px; left: -2.32px; /* box shadow without spread, so ommi

[2018-12-01 19:57] ernestomancebo commented on #39
@myfonj did you tried that on google chrome or safari? increasing the box shadow size works on FF, but not in the others.

[2018-12-01 20:39] trezy commented on #6
Another option we could eventually look into is allowing users to generate their own version of the library. This idea comes from the [Brototype][brototype] library. There's a companion to that library, [Bro-tie][brotie], that allows the user to do just that.

It's certainly not something we need to bother with while the framework is still in such an early stage, but it would certainly be a fun op

[2018-12-01 20:46] trezy commented on #13
Yup, I'm working on getting `semantic-release` set up right now. Once that's done I'll make the PR, then we can make separate issues to cover adding release targets (cdnjs, npm, etc). Once that's done, it'll make sense to remove the compiled CSS files from the repo. 😁

[2018-12-01 22:38] KeevanDance commented on #19
I'll try and fix this if it hasn't been done yet!

[2018-12-01 22:42] KeevanDance opened #51 "Input success is incorrect"
Input success should be the green success color, not blue. Semi-related to #19

[2018-12-01 22:50] guidouil opened #53 "Feature request : Icons empty state"
Hello @BcRikko,
Can you please add a parameter to make the heart ❤️and / or star ⭐️empty / transparent inside ?
Like a "is-empty" class to the icon.
Using your "Reaction" design, I want to make a ratting interface.
I believe it's only adding some color code in the scss but I'm don't know how to do it 😭

Anyway, thank you very much for your work 👍

[2018-12-01 23:06] KeevanDance commented on #51
I'll go ahead and submit a pull request for this one!

[2018-12-01 23:06] BcRikko commented on #19
@KeevanDance I have not started this issue yet.
I would be happy if you could do that. 😆🎉

[2018-12-01 23:06] KeevanDance commented on #19
@BcRikko Already submitted a pull request :)

[2018-12-01 23:10] BcRikko commented on #53
It's good 👍

[2018-12-02 02:06] drzaiusx11 commented on #27
Given the 16 examples from the first link picking one of those would be a good first step (stored as variables.)

I find the NES Classic pallette to be pretty vibrant whereas the VC Normalized is dull/muted.

[2018-12-02 02:54] #42 closed

[2018-12-02 03:00] BcRikko commented on #27
I added a NES color palette. 🎨
Is this OK? 🤔

[2018-12-02 03:12] BcRikko commented on #53
@guidouil  What do you think of this? 🤔
![2018-12-02 12 10 51](https://user-images.githubusercontent.com/5305599/49335162-7f071f80-f62b-11e8-8b93-54c4301ee43a.png)

[2018-12-02 06:02] #19 closed

[2018-12-02 06:04] BcRikko commented on #51
#52

[2018-12-02 07:17] BcRikko commented on #51
Sorry, I made a mistake 😱
I reopened it. 🙇

[2018-12-02 08:36] guidouil commented on #53
I like it very much :)
Does it also work with `is-medium` and `is-large` (like a large empty star) ?

[2018-12-02 08:37] BcRikko commented on #53
Yes, of course 👍

[2018-12-02 08:38] #53 closed

[2018-12-02 15:48] KeevanDance commented on #51
@BcRikko Should be good!

[2018-12-02 16:07] trezy opened #57 "Create a community communication channel"
Another nice way to facilitate building a community around a project like this is to create a channel through which the community can discuss, brainstorm, and ask for support. I prefer [Gitter](https://gitter.im) for OSS projects, but something like a Slack workspace or a Discord server would work as well.

I’d also recommend starting to build a team to help you manage the project. Create an organ

[2018-12-02 16:11] trezy commented on #57
Heh, you could also call it `OSOSCSS` (Open Source Old School CSS). 🤣

[2018-12-02 16:14] trezy opened #58 "Add tests"
Testing visual frameworks is haaaaaard, but we can do eet! I prefer BackstopJS, but any visual regression testing tool would work. This would go very well with #38, as we’ll need something that renders the pieces of the framework to test. Adding docs would also go hand-in-hand with this as we could then just run the tests against the docs.

[2018-12-02 16:24] trezy opened #59 "Move icons into their own project"
I think an 8bit icon set is something that has a lot of value outside of the NES.css framework. I’d love to see the icon set moved into their own project, then made an optional part of NES.css.

Currently most of the icons are generated with box-shadows, but I’ve been working on a pixel are converter recently that I think we could use to generate box-shadow, SVH, and PNG versions of each icon. Pas

[2018-12-02 17:00] naholyr opened #60 "Icons: use "color" property instead of repeating color on every box-shadow"
As [explained here](https://stackoverflow.com/a/10989662/1423359) `box-shadow` falls back to `color` for its color, and it's pretty well supported

![image](https://user-images.githubusercontent.com/214067/49342428-86deb800-f65b-11e8-9081-9a6356b7119d.png)

We could replace:

[code]

with:

[code]

What would be the gains?

* 1000 characters removed for `.close.is-medium` alone, I did not try to m

[2018-12-02 17:03] naholyr commented on #60
Note it could obviously be applied only to "base" color, so it's best for monochromous icons (facebook, twitter, github, close) but that's already nice to have.

[2018-12-02 17:39] IngwiePhoenix commented on #57
I'd love to see what happens when people enjoying retro-ized projects come together in a Gitter channel. I'd totally be up to this!

Also yes - at this rate of growth this project is experiencing, having a team might come in handy. I mean, this project did - one way or another - _explode_ :)

[2018-12-02 17:40] IngwiePhoenix commented on #57
@trezy OSSOSS: Open Source Software old-school style. ;)

[2018-12-02 22:53] BcRikko commented on #51
I merged #56 🙏

[2018-12-02 22:53] #51 closed

[2018-12-02 23:06] BcRikko commented on #60
I didn't know `repeating color` 😆
Every time I add an icon,  I'm worried about increasing the CSS file size. 😢

so, good idea 👍

[2018-12-02 23:33] BcRikko commented on #57
I prefer Slack, because I use Slack on my work. 👨‍💼
I like simple and easy to understand workspace name. 🤔

[2018-12-03 00:35] BcRikko commented on #57
Thanks, I see 🙇

Sorry, I didn't know 😇
If so, Gitter is better 👍

Oh, great 😄
Is this include? -> https://github.com/98mprice/PSone.css (Playstation 1 style CSS Framework, inspired by NES.css)

`old-school-css` is good 👍
I think that `nostalgic-css` is good too. ❤️

I see, thanks sooo mush 😂

[2018-12-03 00:43] trezy commented on #57
Again, it's your repo so which chat channel you set up is 100% up to you. I don't want you to feel like you're being pressured into Gitter. I just want to make sure that you have all of the useful information that I can give you. 😉

First off, great work @98mprice! PSone.css looks fantastic! Second, @BcRikko, how does it feel to be inspiring others to make more frameworks like this? 😁

I like `nos

[2018-12-03 01:40] Polygonalr commented on #39
Whoops, I apologise for the lack of updates and not elaborating about the issue better.

I've checked the updated project, and I am glad the radio arrow is fixed in Firefox. However, the stray pixel still remains as seen from the screenshot below:
![image](https://user-images.githubusercontent.com/16399656/49348227-3446df80-f6df-11e8-91ba-9d3ebf43a3c5.png)

I'm not too sure whether anyone else can

[2018-12-03 01:44] IngwiePhoenix commented on #57
To add my two cents:

For me, it is much easier to loose track of a conversation of community in Slack, because there are just so many different teams and places that I'd have to go to in order to keep everything "in sight". Therefore I prefer Gitter, because every group is in one place, as well as every direct message too. Thus - you can log in with your Github! (I mean, it _is_ called *Git*ter a

[2018-12-03 03:12] BcRikko commented on #57
I created https://gitter.im/nostalgic-css 🙏

I have never use Gitter, so I'm not sure how to use Gitter.
Is this OK? 🤔

I'll welcome. 👍

[2018-12-03 04:41] trezy commented on #57
This is great, @BcRikko! I’ll make a PR to add a Gitter badge to our README tomorrow. 😉

[2018-12-03 08:18] BcRikko opened #62 "Align of the container title does not work."
`.container.with-title.is-center(.is-right)` does not work.

https://github.com/BcRikko/NES.css/blob/ceb018d8d6d6ad2d5a3c9937380261d915d1e275/scss/elements/containers.scss#L90-L96
![2018-12-03 17 16 36](https://user-images.githubusercontent.com/5305599/49361364-34ff6600-f71f-11e8-8ff6-38338036ca9d.png)

[2018-12-03 08:20] BcRikko commented on #18
resolved by #61

[2018-12-03 08:20] #18 closed

[2018-12-03 11:42] #62 closed

[2018-12-03 12:10] BcRikko commented on #59
I see 👍
It may be user-friendly to divide `NES.css (Component styles)` and `Icons` 😆

[2018-12-03 13:49] 98mprice commented on #57
Thank you all ☺️ & I agree- a community channel is a great idea, I'll be sure to follow the conversation on Gitter.

[2018-12-03 14:43] trezy commented on #59
Exactly! 😁

[2018-12-03 15:04] trezy commented on #58
I'm going to start working on something for this today. Here's what I'm thinking so far:

### Setup Storybook
Using [Storybook][storybook], we can easily create reliable, testable pages with configuration options for each component.

### Setup BackstopJS
Using [Backstop][backstop], we can create regression tests for each component. Testing obviously provides a lot of value, but the biggest win her

[2018-12-03 20:47] JMGama opened #65 "More icons"
Is there any way we can get more social-media icons? Like Gmail, Youtube, and phone number? :heart:
Or how can i make it?

- [X] Medium
- [X] Twitch
- [X] Google
- [X] Youtube
- [x] Phone

[2018-12-03 23:19] BcRikko commented on #65
I welcome adding icons 👍

but The icon increases the size of CSS file. 😭
so I might divide the icons into different project -> #59

[2018-12-03 23:41] guastallaigor commented on #65
What do you guys think of this? Not sure if it's ok.

![image](https://user-images.githubusercontent.com/22016005/49408615-25464880-f744-11e8-8531-914053316677.png)

This supposed to be a youtube icon.

[2018-12-03 23:45] BcRikko commented on #65
💯 🙆 🎉

[2018-12-04 00:01] guastallaigor commented on #65
![image](https://user-images.githubusercontent.com/22016005/49409251-ed8cd000-f746-11e8-9945-226004be841d.png)

This linkedin one looks a lot uglier but not sure how to improve it.

[2018-12-04 00:08] BcRikko commented on #65
@guastallaigor  How is this? 🤔
https://www.brik.co/blogs/pixel-art/linkedin-pixel-art-1

[2018-12-04 00:16] guastallaigor commented on #65
Like this?

![image](https://user-images.githubusercontent.com/22016005/49409739-0d24f800-f749-11e8-8142-c606573f28e0.png)

[2018-12-04 00:36] JMGama commented on #65
I already did it, do i need to add something in the css? because it isn't showing.

[2018-12-04 00:38] JMGama commented on #65
I did the scss but don't understand what i need to change or add in the css :disappointed:

[2018-12-04 00:46] BcRikko commented on #65
1. create icon matrix and color list( like this https://github.com/BcRikko/NES.css/blob/master/scss/icons/like.scss )
2. import `{youricon}.scss` into [icons.scss](https://github.com/BcRikko/NES.css/blob/master/scss/icons/icons.scss)
3. Define a css class ( like this https://github.com/BcRikko/NES.css/blob/master/scss/icons/icons.scss#L78-L80 )
4. add example icon to [index.html](https://github.co

[2018-12-04 00:50] guastallaigor commented on #65
This looks better than mine, when you can add this icon ok  👍

[2018-12-04 01:15] JMGama commented on #65
This is the Gmail icon i made :smile:
![image](https://user-images.githubusercontent.com/25947269/49411761-c4147a00-f72f-11e8-8cb7-77b2cc9a98fe.png)
[code]

[2018-12-04 01:30] BcRikko commented on #65
Good 👍

I fixed it a little bit. 🛠
![2018-12-04 10 27 14](https://user-images.githubusercontent.com/5305599/49412268-30828e00-f7af-11e8-8aa1-bee1ff557d4f.png)
[code]

[2018-12-04 03:19] BcRikko commented on #33
I'll close it 🙇
if you need to reopen, please let me know. 🙏

[2018-12-04 03:19] #33 closed

[2018-12-04 05:19] KeevanDance opened #70 "Bug with checkbox color?"
Seems while clicking the checkbox multiple times, the shade of the box changes inconsistently.

Darker Checked:
![image](https://user-images.githubusercontent.com/10778294/49420569-b66fec00-f751-11e8-9acf-310cae28962b.png)

Lighter Checked:
![image](https://user-images.githubusercontent.com/10778294/49420582-c4257180-f751-11e8-9d2a-29c6a1ec7a94.png)

Lighter Empty:
![image](https://user-images.git

[2018-12-04 05:30] BcRikko commented on #70
It's a no problem. 🙆
The color will change light gray when focus. 👍

https://github.com/BcRikko/NES.css/blob/1663f704c194818460ad4b2cf7d0cb1e8c25f868/scss/elements/checkboxes.scss#L69-L82

[2018-12-04 05:32] KeevanDance commented on #70
oh totally my mistake! The different states were confusing me so much, but that all makes sense! I will close it. Thanks for the quick reply @BcRikko  👍

[2018-12-04 05:32] #70 closed

[2018-12-04 05:32] BcRikko commented on #70
Thanks for closing issue. 😆

[2018-12-04 13:53] evexoio opened #72 "Rendering issues with safari."
Safari is terrible at rendering NES.css

![dec-04-2018 15-35-25](https://user-images.githubusercontent.com/12014839/49445372-73a62680-f7da-11e8-8060-682634f77dbb.gif)

[2018-12-04 13:58] BcRikko commented on #72
What is going on? 😱
![safari](https://user-images.githubusercontent.com/5305599/49446575-dbc72d80-f817-11e8-8fd4-1a421065a482.gif)

[2018-12-04 14:09] BcRikko commented on #72
This code may be the cause. 🤔
https://github.com/BcRikko/NES.css/blob/1663f704c194818460ad4b2cf7d0cb1e8c25f868/scss/base/generic.scss#L16

I removed `font-smoothing`
![2018-12-04 23 08 53](https://user-images.githubusercontent.com/5305599/49447341-9d327280-f819-11e8-950e-1206a5b4a031.png)

[2018-12-04 15:32] evexoio opened #73 "Dark containers font-color broken"
Dark containers font-color is the same as their background color

<img width="1012" alt="screen shot 2018-12-04 at 5 31 09 pm" src="https://user-images.githubusercontent.com/12014839/49452783-79a40380-f7ea-11e8-895c-d47b2a53ccd5.png">

<img width="1014" alt="screen shot 2018-12-04 at 5 31 52 pm" src="https://user-images.githubusercontent.com/12014839/49452824-92141e00-f7ea-11e8-8a25-281bd05b0126.p

[2018-12-04 16:30] jjspace commented on #72
It seems that setting `-webkit-font-smoothing: antialiased` works in safari while still preventing sub-pixel antialiasing to keep those letters crisp :)

[2018-12-04 16:33] jjspace commented on #65
I would recommend rounding the corners of that gmail logo a bit. It would match the actual logo better and be more in line with the style of all the others you've created

[2018-12-04 17:45] evexoio commented on #72
@jjspace can you create a PR of that please?

[2018-12-04 18:10] JMGama opened #74 "Buttons color Error"
The color of the buttons stays the same when you click it then you need to click other place to restore the original button color.
It's a little hard to explain.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/25947269/49463207-7f372480-f7bd-11e8-9d94-0f8fb99bab73.gif)

[2018-12-04 18:33] JMGama commented on #74
The button has a click function that ends and the button remains the same color, is that okay?

[2018-12-04 18:44] jjspace commented on #74
It's because of how the styling is applied. It's changing the color on `:focus` of the button. Focus persists even after a click is done until you *focus*/click on something else. We could take the styling off of focus and just have it change on `:hover` and `:active` and this wouldn't happen. I personally think this might be better but that could be open to discussion.

[2018-12-04 18:45] fleeting commented on #74
This is just because the hover and focus states use the same styles. For accessibility we should tweak the focus state to be different from the hover and normal state.

Ultimately what's happening is the inset style is from the active state, which happens when you click in. However, just like when you tab through the buttons with the keyboard, your focus is now on that button from the click and si

[2018-12-04 18:47] jjspace commented on #74
+1 for thinking of tab focus, I'd forgotten about that. In that case I think it might be best to keep the hover and focus styling the same for consistency right?

[2018-12-04 21:32] evexoio commented on #8
This is still an issue, why is it closed?

[2018-12-04 22:30] guastallaigor opened #77 "Feature request: Add Table is-dark"
Add table `is-dark` class similar to the container.

[2018-12-05 03:08] a18538328225 opened #79 "great"
Look, I made the website with your framework.
https://zhengshaoguo.com

[2018-12-05 04:11] BcRikko commented on #79
Thanks for using our framework. 🎉

[2018-12-05 04:11] #79 closed

[2018-12-05 10:12] evexoio commented on #58
I'm implementing BackportJS, I'm afraid I'll have 100s of scenarios to test all storybook's components,
and for every new component or styling we should add a scenario for a new storybook story or variant.

I was thinking if we could render all stories and their variants on one page, and test just that one page, so when any new story or variant is added, its automatically tested by BackportJS.

I

[2018-12-05 12:07] robotrono opened #81 "Blurry Font in H1 in Chrome"
https://i.imgur.com/TiEvmPR.png in Firerfox works fine, its normal?

[2018-12-05 12:53] BcRikko commented on #81
Thanks 🙇

It seems to be no problem to me. 🤔
please let me know about your environment. 🙏

## my environment

* macOS High Sierra
* Chrome 70
* Firefox 63

![h1](https://user-images.githubusercontent.com/5305599/49514551-b863b780-f8d7-11e8-866e-335219338c47.png)

[2018-12-05 16:16] mreinstein opened #83 "disabled button state"
It would be great if disabled buttons rendered slightly differently (perhaps more grey-ed out?)

[2018-12-05 18:10] trezy commented on #58
First, let me verify that I'm understanding your concern. I *believe* that you're referring to [this][backstop-json-scenarios] section of the Backstop config, and your concern is that adding scenarios for every variant of every component to that one file is gonna suck. I would agree with that, but I don't think that putting all of the components with their variants on one page is the right solutio

[2018-12-05 22:03] trezy commented on #58
[This article][backstop-article] indicates that we can pass a `--configPath` flag to Backstop. With that flag, we can point to a `*.js` file instead of the default `*.json` file. This would allow us to generate a better set of test scenarios, and do so more dynamically. This would eliminate the need to write a new test for every variation of every component. Instead, we can create tests for each c

[2018-12-05 22:35] evexoio commented on #58
I don't know if we will have to create our own version of Storyshots, that would be a fun challenge to work on.
However, the proposed solution should work well for our current situation.

@trezy nice work on that research 🙌

[2018-12-05 22:40] BcRikko commented on #83
Thanks 👍
great idea 🎉

[2018-12-05 23:50] robotrono commented on #81
@jjspace @BcRikko

I'm using Windows 10, Chrome 71 and Firefox 63 64 bits.

[2018-12-06 00:20] guastallaigor commented on #83
What do you guys think of this?

![image](https://user-images.githubusercontent.com/22016005/49552592-6b81e000-f8db-11e8-96b7-2290d17931e3.png)

The icon at the middle it's the `cursor: not-allowed` property.

[2018-12-06 00:22] mreinstein commented on #83
that looks awesome!

[2018-12-06 00:55] #83 closed

[2018-12-06 02:06] jjspace commented on #81
Right so as I mentioned in my PR pertaining to this, according to [caniuse](https://caniuse.com/#search=font-smoothing) the `font-smoothing` property only applies on OSX platforms so won't change anything on other platforms. In my quick testing on my windows machine it doesn't seem like the font smoothing works. However I also dont have a super high res/retina monitor so I might not even be able t

[2018-12-06 05:06] BcRikko commented on #8
It seems that it closed by misoperation, according to YuK1Game.
so I reopen this issue 👐

[2018-12-06 05:16] trezy opened #85 "Set up branch protections"
I'd like to get branch protections in place to make sure the project is stable moving forward. I usually set these protections up on both the `master` and `develop` branches. That way, we can prevent PRs from being merged to `develop` without review, and we can require additional CI checks before anything can be merged to `master` (released).

These are the settings I usually set up for both branc

[2018-12-06 10:14] loo41 opened #86 "Add btn-extra-pixelize class"
### btn-dot

![65 jg 8x f 5ut2hf b](https://user-images.githubusercontent.com/28095677/49577169-ca9a3000-f981-11e8-974f-d42ba58503d7.png)

- I added a class btn-dot to make button look better
- I'm using box-shadow to see if it fits the project better

What do you think?
 #87

[2018-12-06 11:49] loo41 commented on #86
Okay, I'll change it to btn-extra-pixelize

[2018-12-06 12:31] BcRikko commented on #85
I set the `master` and `develop` to the same settings as above image 👍
Please let me know if It's wrong. 🙏

![2018-12-06 21 29 21](https://user-images.githubusercontent.com/5305599/49584260-0d6a0100-f99e-11e8-8d52-3a8a76ab7bb2.png)

[2018-12-06 14:30] trezy commented on #85
Everything looks great. Thanks for setting those up! 😁

[2018-12-06 14:30] #85 closed

[2018-12-06 23:32] #57 closed

[2018-12-07 01:49] otaviopace opened #91 "`npm run build` script doesn't work because of storybook typo"
The command `npm run build` doesn't work because of a typo on `package.json`.

[This](https://github.com/nostalgic-css/NES.css/blob/master/package.json#L7):

[code]

Should be [this](https://github.com/otaviopace/NES.css/blob/fix-build/package.json#L7)

[code]

The name of the `storybook` build script is `build:storybook`, and it is `build-storybook`, which makes the `npm run build` fail.

![scree

[2018-12-07 03:57] trezy commented on #91
Marked as invalid since it's already fixed.

[2018-12-07 03:57] #91 closed

[2018-12-07 08:54] evexoio opened #93 "Troublesome commitlint"
Since we've added commitlint, I've discussed it being removed.

Here's what I tried to just do a very basic thing:
[code]

Every time once of these got me an error, I tried to modify my commit messages based on the error only to get other errors.

I was done, and I wanted to use `--no-verify` to just skip this linting for commit message, but still, I get an error.
[code]

Do we **REALLY** need thi

[2018-12-07 09:00] evexoio commented on #93
More on this, still trying to commit
[code]

Every time I commit I get
[code]

What is the subject anyway?

My point is: this just doesn't feel natural, and its very annoying

[2018-12-07 09:37] BcRikko commented on #93
How about making this loose rule? 🤔
![2018-12-07 18 35 22](https://user-images.githubusercontent.com/5305599/49639653-e15a8880-fa4e-11e8-8810-45140b38d3de.png)

This rule is used in vuejs project.
https://github.com/vuejs/vue/blob/dev/scripts/verify-commit-msg.js

@trezy What do you think? 🤔

[2018-12-07 10:50] guastallaigor commented on #93
I don't think you can use upper-case letters anywhere in the commit.
Have you tried this?

feat(test): merged develop and added storybook and backstopjs tests

[2018-12-07 10:59] vandie commented on #86
Following convention for css classes, as it's a variation, shouldn't it be `btn--extra-pixelize` or `btn--pixelize`.

BEM should really be followed for CSS. (https://css-tricks.com/bem-101/)

[2018-12-07 11:05] vandie opened #95 "Following convention for css classes, should we modify the css here to follow BEM?"
BEM should really be followed for CSS. (https://css-tricks.com/bem-101/) This ensures a consistant class naming system that would help maintance.

_Originally posted by @vandie in https://github.com/nostalgic-css/NES.css/issues/86#issuecomment-445198048_

[2018-12-07 11:32] evexoio commented on #86
@BcRikko BEM concepts look good, I think we should look into them 👍

@vandie thanks for bringing this up :)

[2018-12-07 11:34] vandie commented on #86
@evexoio I've created the BEM stuff as a separate issue. Will take a look tonight to see if I can create a PR to change it.

[2018-12-07 11:39] evexoio commented on #86
@vandie wait, I don't know if we're going to take BEM seriously yet. @BcRikko is the main css guy here so he knows best if BEM fits NES.css or not 🙏

[2018-12-07 11:40] vandie commented on #86
@evexoio of course.

[2018-12-07 11:52] guastallaigor commented on #93
@evexoio Yes I understand, I'm used to commit using upper-case letters aswell, but in this repo I'm trying to get used to commiting using only lower-case letters.

[2018-12-07 12:04] BcRikko commented on #86
BEM design is powerful 💪
but BEM is not my favorite, because class name gets longer 😅

I'm affected by [bulma](https://github.com/jgthms/bulma), so like [SMACSS design](https://smacss.com/) is adopted in this project. 📝

[2018-12-07 12:07] BcRikko commented on #95
Thanks for your suggestion 🙇

I commented on https://github.com/nostalgic-css/NES.css/issues/86#issuecomment-445212814 📝

[2018-12-07 12:10] vandie commented on #95
Fair enough.

[2018-12-07 12:10] #95 closed

[2018-12-07 12:13] #2 closed

[2018-12-07 12:53] evexoio opened #97 "Remove and ignore css"
According to this comment https://github.com/nostalgic-css/NES.css/issues/13#issuecomment-443428179

We should remove and untrack css files.

[2018-12-07 12:54] evexoio commented on #93
More to this, if you end your commit message with a dot it'll get rejected as well 🤧

[2018-12-07 13:28] BcRikko opened #99 "Add margin for border to table"
Borders overlap when using `.table.is-bordered`.
![2018-12-07 22 26 44](https://user-images.githubusercontent.com/5305599/49650342-34443800-fa6f-11e8-9e2f-9a8db0904e0a.png)

|actual|expect|
|----|----|
|![2018-12-07 22 23 51](https://user-images.githubusercontent.com/5305599/49650203-d3b4fb00-fa6e-11e8-843a-2ea4b28a5315.png)|![2018-12-07 22 24 35](https://user-images.githubusercontent.com/5305599/

[2018-12-07 13:49] #99 closed

[2018-12-07 13:59] evexoio opened #101 "Storybook container .is-dark font color same as background color"
![storybook-isdark](https://user-images.githubusercontent.com/12014839/49651864-0a701e80-fa39-11e8-9fcc-6815a2f323c2.gif)

This issue happens in storybook only.

[2018-12-07 14:03] evexoio opened #102 "Containers without title can't be aligned"
![container-alignment](https://user-images.githubusercontent.com/12014839/49652042-95511900-fa39-11e8-953f-be90fdfd2ae1.gif)

[2018-12-07 14:06] BcRikko commented on #101
maybe...
https://github.com/nostalgic-css/NES.css/blob/ac136794133f8e5cb70b09993e40ff8561b2bda0/scss/elements/containers.scss#L103-L118

[code]

and

https://github.com/nostalgic-css/NES.css/blob/ac136794133f8e5cb70b09993e40ff8561b2bda0/index.html#L60-L63

[code]

[2018-12-07 14:08] BcRikko commented on #102
I'll fix it. 🛠

[2018-12-07 14:18] evexoio commented on #7
This is done by now.

Can you open separate issue for this feature please?

Same here. please open a separate issue.

Related to #65

[2018-12-07 14:20] BcRikko opened #104 "Position of container title when using is-rounded"
|actual|expect|
|----|----|
|![2018-12-07 23 19 14](https://user-images.githubusercontent.com/5305599/49652852-95233e80-fa76-11e8-903d-af7cd1b12dcd.png)|![2018-12-07 23 19 54](https://user-images.githubusercontent.com/5305599/49652869-a1a79700-fa76-11e8-811a-0e9cf0f04ceb.png)|

[2018-12-07 14:38] guastallaigor commented on #77
Closing this because of #78 was merged.

[2018-12-07 14:38] #77 closed

[2018-12-07 14:49] #102 closed

[2018-12-07 14:49] #104 closed

[2018-12-07 15:18] jjspace commented on #86
@BcRikko I personally kinda like BEM since i've started using recently but it doesn't really matter in either direction. The thing that matters is that we are all consistent in our naming. It would be good to add a section to the README under development telling everyone what standard we are using so everyone knows from the start

[2018-12-07 15:33] BcRikko commented on #86
Ok 👍

When we publish **storybook**, I think that the problem about the naming convention will be solved 🎉

[2018-12-07 15:36] trezy commented on #97
Ah, I forgot to check during review, but the `css` folder didn't actually get removed, just ignored. @evexoio, could you make another PR to remove the `css` folder?

[2018-12-07 16:01] jjspace opened #107 "Switch to Yarn over npm"
Switch to use yarn for package management and scripts. The package.json will remain the same and all the same packages will be used but yarn handles package versions much nicer. The main benefit I see right now is that yarn actually respects a package lock file whereas npm just [ignores](https://github.com/npm/npm/issues/18103) it. This will help ensure that all collaborators are using the same ve

[2018-12-07 16:34] evexoio commented on #97
@trezy Oops, I force pushed 🙈my bad.

[2018-12-07 16:52] evexoio commented on #107
@jjspace we have not faced this yet, but it might happen later. so preventing it from now using yarn should be a good idea.

[2018-12-07 17:23] evexoio commented on #97
This is not done yet, we need to remove all operations on the folder `css` from package.json 🙈🙈

[2018-12-07 18:33] #97 closed

[2018-12-07 18:46] evexoio commented on #101
@BcRikko yep, that fixes it 👍

[2018-12-07 19:49] Kartm opened #113 "Mixed-up button classes"
I'm trying to use your framework on my site.
When I try to set styles of my buttons just like on your site, they have the wrong appearance.
For example, <button class="btn is-success"> looks like primary button, and <button class="btn is-primary"> gives me success button. I'm using version 0.0.2, just like in the example page.

[2018-12-07 21:12] evexoio commented on #113
@Kartm can you please share more info? what's the website url if you don't mind 🙏

[2018-12-07 22:01] Kartm commented on #113
@evexoio All the code is in our repository: [link](https://github.com/VengelStudio/hangman)
The buttons are in the index.html file, lines 39 and 47.

[2018-12-08 01:05] BcRikko commented on #113
I have not published many changes to npm yet, sorry 😢
so, this css is old → https://unpkg.com/nes.css@0.0.2/css/nes.min.css

Could you import css file in `develop` until we publish the latest version to npm. 🙏

[2018-12-08 07:14] Kartm commented on #113
That solves the issue. Will do. Thanks!

[2018-12-08 07:14] #113 closed

[2018-12-08 07:16] #101 closed

[2018-12-08 07:34] #39 closed

[2018-12-08 08:20] evexoio commented on #81
@robotrono I can't reproduce this issue on:
Ubuntu FF 63 64bit
OSX FF 63 64bit
OSX Chrome 70 64bit

[2018-12-08 08:29] #72 closed

[2018-12-08 08:48] evexoio commented on #81
## Win10 FF 63
<img width="456" alt="win" src="https://user-images.githubusercontent.com/12014839/49684050-af8d0480-fad6-11e8-8eac-c6817e65ae09.png">

[2018-12-08 08:48] evexoio commented on #81
@robotrono can you please try to reproduce the bug on the latest `develop` branch?

[2018-12-08 10:40] evexoio commented on #86
This is continued at https://github.com/nostalgic-css/NES.css/pull/105#issuecomment-445265288

[2018-12-08 10:45] evexoio commented on #74
I've tried reproducing this on safari and chrome(both OSX) but couldn't reproduce it.
Which browser are you on?

[2018-12-08 14:20] BcRikko commented on #73
duplicate #101

[2018-12-08 14:20] #73 closed

[2018-12-08 15:32] evexoio commented on #93
Agreed, I can see that already. and we can keep that the way it is with a less strict rule to achieve balance between commit message's clarity and the ease of actually commiting.

@trezy can we apply the changes @BcRikko suggested in his [comment](https://github.com/nostalgic-css/NES.css/issues/93#issuecomment-445175999) and the changes you suggested(commit titles can start with uppercase characte

[2018-12-08 15:35] #7 closed

[2018-12-08 16:29] trezy commented on #93
@evexoio Absolutely! I’ll take a look at that tomorrow. I’m hosting a big holiday party today.

If anybody wants to look into it sooner, you’ll want to look into `commit-lint` rules to implement the changes to the subject format, and `cz-customizable` to alter the available commit types.

[2018-12-08 18:08] 4k1k0 opened #124 "Responsive inputs"
Hello. :hand:

I'm using ness.css v0.0.2 from

    https://unpkg.com/nes.css@0.0.2/css/nes.min.css

And I noticed that the inputs are not responsive and in some cases wider thant their containers.

![Screenshot](https://i.imgur.com/OPGptjf.png "Screenshot")

This can be solved setting `width: 100%` in the `.input` class, but I noticed that it [already use `max-width: 100%`.](https://github.com/nos

[2018-12-08 18:42] fleeting commented on #74
I get it in Chrome on OS X, it's just the focus styles. https://github.com/nostalgic-css/NES.css/blob/master/scss/elements/buttons.scss#L6 should ideally be split up so focus has it's own unique styles different than the hover style.

[2018-12-08 18:48] jjspace commented on #107
@iam13islucky I noticed you reacted thumbs down, do you have a reason not to switch?

[2018-12-08 19:05] jjspace commented on #74
I can confirm that this happens in Chrome 70 on OSX and Chrome 70, FF 63 and Edge on Windows. However for some reason it does not seem like Safari and FF 63 keep focus state when you stop hovering on OSX so this problem does not exist there.
I think it _might_ be worth separating the styles to handle them independently but with the fact that tab focus is essentially the mouse-less equivalent of ho

[2018-12-08 19:10] iam13islucky commented on #107
NPM doesn't just ignore lock files, at least not in they're intended use. If you change dependencies, like adding new ones or updating, it updates the lock file. The intended use is for if you did a fresh install, you'd get the same dependencies, and it does that. If you absolutely don't want it to update no matter what, you set it in the package.json.

Additionally, it increases developer overhea

[2018-12-08 19:15] evexoio commented on #124
Hey @4k1k0, we're sorry our package at unpkg.com is outdated. we're releasing soon btw. 🙈

[2018-12-08 21:08] jjspace commented on #107
I've tried to do more research on this today but it's hard to find anything that's super new. As stated in the issue I linked in the issue itself there was/is a time/version of npm which does not respect the package lock as you would expect. By default `npm install` would get the latest version of a package and then update the package lock file to match which is backwards. There is the command `np

[2018-12-08 21:16] iam13islucky commented on #107
From what I've read and tested, it will get the newest version and update the lock, but only if you've already installed it and are running npm install a second time. The package lock only does anything during the first install, as that's what the NPM team considered the use case. running npm install subsequent times is read as npm update, it seems, which is an odd choice, but it's the one they ch

[2018-12-08 22:00] jjspace commented on #107
This exactly. I dont think `npm install` should do anything but install the packages that are desired. If they're already installed it should just check to make sure everything was installed correctly. IMO it should *Not* do `npm update` that's what `npm update` is for. Granted if you're doing `npm install package_name` or using that to install a specific version I can see an argument to update th

[2018-12-09 00:52] BcRikko commented on #86
I confirmed 🔍
It's ok with the following code 👍
[code]

[2018-12-09 03:31] 4k1k0 commented on #124
Hello @evexoio thank you for your answer. At first I thought that the `npm build` failed because I got an error in the terminal, but it worked great. Thanks! :+1:

[2018-12-09 03:43] BcRikko commented on #124
I merged #135

[2018-12-09 03:43] #124 closed

[2018-12-09 04:07] 4k1k0 opened #137 "Code of conduct"
Are you considering adding a coc for this project? :thinking:

[2018-12-09 04:40] 4k1k0 opened #139 "Update readme"
Hello, :hand:

I noticed that the Press Start 2P font it's not only for english language. It has support for the latin alphabet and you can use it with characters that are not in english but they are in spanish.

![Font](https://i.imgur.com/BbneKlP.png "Font")

:smiley:

[2018-12-09 05:12] robotrono commented on #81
@evexoio I need npm right?

[2018-12-09 07:51] #65 closed

[2018-12-09 07:58] evexoio commented on #74
I see.
@fleeting are you still going to open a PR for this issue? 🙈

[2018-12-09 12:34] evexoio commented on #137
@4k1k0 Yes, we got this [request before](https://github.com/nostalgic-css/NES.css/issues/25#issue-385752198).

We want to do that but we're quite busy at the moment making sure everything works from ci and releasing to tests.

Can you help and layout a template and we'll add to what you've done?

[2018-12-09 12:40] BcRikko commented on #86
I'll fix it 👍

[2018-12-09 12:44] evexoio commented on #81
Yes, Here's a step by step to get your css
[code]
then you'll find your css in `css/nes.min.css`

[2018-12-09 12:55] evexoio commented on #139
@4k1k0 Nice finding.

I'm assuming you didn't have to search for how to make latin work and it worked right away.
I'm closing the issue because in `README.md`, `Press Start 2P` is said to be `Default` language and `English` language. so nothing to change there. 🙌

[2018-12-09 12:55] #139 closed

[2018-12-09 15:14] #86 closed

[2018-12-09 15:44] trezy commented on #137
Actually, @evexoio, this is slightly different from the CONTRIBUTING.md and it's something I've been meaning to mention as well. A code of conduct defines the behaviors we expect — as well as the behaviors we won't tolerate — from contributors. I usually use the [Contributor Covenant][contributor-covenant] for my repos.

@BcRikko, what are your thoughts?

[contributor-covenant]: https://www.contri

[2018-12-09 16:02] BcRikko commented on #137
I'm not sure much about it. Are `Code of conduct` and `Contributor Covenant` different? 🤔

I looked at other projects, and then I think that it's good to use `Contributor Covenant`. 👍

* nodejs: https://github.com/nodejs/admin/blob/master/CODE_OF_CONDUCT.md
* vuejs: https://github.com/vuejs/vue/blob/dev/.github/CODE_OF_CONDUCT.md
* bootstrap: https://github.com/twbs/bootstrap/blob/v4-dev/CODE_OF_C

[2018-12-09 16:05] trezy commented on #137
@BcRikko Nope, the Contributor Covenant is just one of the Codes of Conduct that a lot of projects use. Some projects use their own homegrown versions, but I'm a big fan of the Contributor Covenant.

[2018-12-09 16:07] 4k1k0 commented on #137
@BcRikko [`Contributor covenant`](https://www.contributor-covenant.org) is the name of a popular code of conduct. You can check out the tempalte [here](https://www.contributor-covenant.org/version/1/4/code-of-conduct). Some projects and organizations write their own coc as well. :smiley:

[2018-12-09 16:09] trezy commented on #107
Personally, I use Yarn for most of my projects. However, if you have Yarn installed, you likely already have npm as well. I'd say that we could certainly stick with npm since it's probably more ubiquitous.

As for dealing with package versioning discrepancies, I'd say that if we start running into issues we can start being more judicious about our use of the `package.json`, i.e. locking packages t

[2018-12-09 19:32] evexoio commented on #107
enough said, I say lets leave this until it pops up again.

[2018-12-09 19:32] #107 closed

[2018-12-09 20:14] #93 closed

[2018-12-09 20:52] 4k1k0 commented on #93
Please, could someone explain me how to make a commit from the command line?

This is what I'm doing:

- Clone my fork
- Change to develop branch
- Make some changes
- Create a new branch
- Adding the modified files to the stage
- Commit

I've trying to do it since this morning but I don't understand husky. According to the docs `git commit -m 'Message'` should do the job, but I keep getting this

[2018-12-09 20:59] guastallaigor commented on #93
Hello @4k1k0, as up to this moment all messages must be like this `type: msg`.
No dot at the end of the line.
Only lower-case letters.
Example: `feat: add new feature` or `feat(icons): add new icon`
You can also use `npm run commit` that can help you with that

[2018-12-09 21:00] alanrsoares opened #146 "weird rendering of checkbox on Chrome 70.x on OSX"
![image](https://user-images.githubusercontent.com/273334/49702859-72ee1400-fc62-11e8-8024-b408a2d61ac5.png)

[2018-12-09 21:05] 4k1k0 commented on #93
Thank you so much! It worked like a charm.

[2018-12-09 21:19] evexoio commented on #93
@4k1k0 @guastallaigor actually I merged https://github.com/nostalgic-css/NES.css/pull/144

Upper-case letters are ok now, as well as a dot at the end of a sentence :)

[2018-12-09 22:03] jjspace commented on #60
@naholyr @evexoio I couldn't sleep last night and started work on this as you can see the PR. Sorry I wasn't sure if someone was already planning on it.

[2018-12-09 22:12] jjspace commented on #146
I am unable to reproduce this on Chrome 70 on OSX. Which version of the framework are you using? Are you looking at the hosted example?

[2018-12-09 22:31] evexoio commented on #60
@jjspace that's fine 👍
@naholyr there's plenty if issues for grabs if you want 🙌 🙏

[2018-12-09 22:39] evexoio commented on #146
![cantrepro](https://user-images.githubusercontent.com/12014839/49703915-f03e6800-fc13-11e8-9922-c88f66705cbd.gif)

[2018-12-09 22:49] BcRikko commented on #146
This issue may be the same as #8 🤔

[2018-12-09 22:54] BcRikko opened #148 "Use is-empty instead of is-transparent"
All other icons use `is-empty` 🙏
I want to unify to `is-empty`
https://github.com/nostalgic-css/NES.css/pull/147#issuecomment-445579615

[2018-12-09 23:05] 4k1k0 commented on #148
I agree. The reason why I used `is-transparent` instead of `is-empty` Is because there's already an `is-empty` class declared.

[2018-12-10 00:10] BcRikko commented on #137
I see, Thanks 🙇

I can not make difficult sentences, because I'm not good at English.
It is difficult for me to make own homegrown version. 😖
so let's use `Contributor Covenant` 👍
Is it OK? 🤔

I just hope for everyone to have fun 😆✨

[2018-12-10 02:06] 4k1k0 commented on #137
Perfect! I wanted to make the proposal through githuub, but one of the requirements is an email adress to fill the template. So I think it's better if @BcRikko or someone of the community do it. :smile:

[2018-12-10 02:08] trezy commented on #137
Yeah, I was thinking about that, @4k1k0. I think it should definitely be @BcRikko for now, but it’d be great if we grab a domain and set up a support email that we can have go to the team.

[2018-12-10 02:23] 4k1k0 opened #152 "<select> component"
Hello.

I would like to see a `<select>` component in the framework.

I made this but I'm not very confident about the desing. What do you think? Should I make a pull request?

![captura de pantalla_2018-12-09_20-20-03](https://user-images.githubusercontent.com/3821782/49707268-34b80c80-fbf0-11e8-93a4-bf74e541bb02.png)

Thanks.

[2018-12-10 02:30] guastallaigor opened #153 "Feature request: Avatar component"
I think it would be good if we had a avatar component, so I made this:

![image](https://user-images.githubusercontent.com/22016005/49707515-ac972e80-fc12-11e8-9819-e26d172f5b3f.png)

This component has

Classes to change size:

1. `is-small`
2. `is-medium`
3. `is-large`

Classes to change format:

1. `is-bordered`
2. `is-rounded`

Classes to change color:

1. `is-primary`
2. `is-success`
3. `is-e

[2018-12-10 02:49] BcRikko commented on #152
Great 🎉

Could you make four corners missing? like below 🤔
![2018-12-10 11 46 44](https://user-images.githubusercontent.com/5305599/49708044-48f01e00-fc71-11e8-9013-ca9d6e5fb82a.png)

and Could you pixelize `▼`? like below 🤔
![2018-12-10 11 49 05](https://user-images.githubusercontent.com/5305599/49708129-9e2c2f80-fc71-11e8-8571-7515826c1552.png)

[2018-12-10 03:12] BcRikko commented on #153
😆 :+1:

I think Avatar does not need many options. :thinking:
I think that it's unlikely that avatar will reflect the color of the status or using avatars with borders 🤔

but it's good the following classes 👍
* is-small
* is-medium
* is-large
* is-rounded

[2018-12-10 03:12] 4k1k0 commented on #152
What do you think?
![captura de pantalla_2018-12-09_21-12-11](https://user-images.githubusercontent.com/3821782/49708878-24eff680-fbf7-11e8-8b0f-a778464d69ff.png)

[2018-12-10 03:17] BcRikko commented on #152
like this 😆
![2018-12-10 12 16 37](https://user-images.githubusercontent.com/5305599/49708974-763ecb00-fc75-11e8-84a2-11bce8dedad5.png)

[2018-12-10 03:19] 4k1k0 commented on #152
Oh my mistake I used the wrong mixing.
![captura de pantalla_2018-12-09_21-18-43](https://user-images.githubusercontent.com/3821782/49709039-0b02e380-fbf8-11e8-81ad-340e674e5501.png)

[2018-12-10 03:20] BcRikko commented on #152
oh, great 😆 🎉

[2018-12-10 06:43] BcRikko commented on #1
hi @kenshinji 👋

We created English document 📝
Could you translate `README.md` into Chinese if you dont't mind? 😆

refs
* https://github.com/nostalgic-css/NES.css/pull/145
* https://github.com/nostalgic-css/NES.css/pull/138

[2018-12-10 07:41] BcRikko commented on #137
How about accepting contact at Gitter? 🤔

↓↓↓

Instances of abusive, harassing, or otherwise unacceptable behavior may be reported by contacting `@BcRikko` of the project team on [Our Gitter](https://gitter.im/nostalgic-css).

[2018-12-10 08:56] #6 closed

[2018-12-10 09:22] naholyr commented on #60
You rock dude!

On Sun, 9 Dec 2018 at 23:31, Abdullah Samman <notifications@github.com>
wrote:

--
Nicolas Chambrier, aka naholyr

Blog : http://naholyr.fr

[2018-12-10 09:39] guastallaigor commented on #153
Okay I understand :smile:
What about this?

![image](https://user-images.githubusercontent.com/22016005/49723712-a7f06b80-fc4e-11e8-8581-9cd40d4a8a7a.png)

Do I continue to use the gravatar image? I didn't want to put a new one insde the project.

[2018-12-10 10:56] #153 closed

[2018-12-10 18:33] cabaalexander commented on #152
<3

[2018-12-10 19:40] jjspace commented on #137
Generally the place to report abusive things or harassment happens with a more private/secure method. I know I wouldn't really want to go to report a problem like that to a public chat that the offender could also have access to.

[2018-12-10 19:48] 4k1k0 commented on #137
I'm not sure what Gitter is. It looks like Slack to me, Is there a chance there could be a special account for that purpose on the Gitter and can receive direct messages? Although I'm not sure, does that means that if you want to contribute to the project you have to set up a Gitter account? 🤔

[2018-12-10 20:21] trezy commented on #137
@jjspace Agreed, it's generally helpful to be able to report issues privately. One issue with having a single email, though, is that the one person listed may also be the person causing the problem. That leaves the person reporting with no avenue to report issues.

I very seriously doubt that @BcRikko would be a person to cause issues, and even if they were this *is* their project. Even still, it'

[2018-12-10 20:37] trezy commented on #60
This issue was closed by #143.

[2018-12-10 20:37] #60 closed

[2018-12-10 20:38] trezy commented on #58
Hey @evexoio, what's the status on the Backstop work?

[2018-12-10 20:39] #13 closed

[2018-12-10 21:56] evexoio commented on #58
@trezy hey, I've done the tests where the scenarios are just radios(e.g. balloons, buttons) in storybook.

Now I'm figuring out a way to generate all the scenarios when using radios, select and boolean scenario types(e.g. containers, icons).

I'm getting there 🙃

[2018-12-10 22:10] guastallaigor commented on #137
You can add my e-mail to the Code of Conduct, that's fine by me.
In fact, it's displayed in my Github profile 😄

[2018-12-10 22:49] BcRikko commented on #137
Ok, you can also add my e-mail to the Code of Conduct 👍
b.c.rikko@gmail.com 📬

[2018-12-10 23:18] BcRikko commented on #152
sorry, there is no roadmap. 😢

I just came up with following elements. 🤔

* `<input type="range">`
* `<ul>〜</ul>`

[2018-12-11 00:44] BcRikko opened #158 "Change the url of cursors."
Can not find the cursor images in the user's environment. 🤔
https://github.com/nostalgic-css/NES.css/blob/8acab18bfdf5fd5119a883e6e17e2bad8131b59f/scss/base/variables.scss#L8-L9

Change it immediately before release as follows
[code]

[2018-12-11 06:14] trezy commented on #58
No worries, @evexoio, thanks for the update! I'm excited to get the tests done so we can prevent regressions via CI. 😉

[2018-12-11 06:37] trezy opened #166 "Make a roadmap!"
As @BcRikko said recently in #152:

So I think we should change that! Let's discuss what other components we'd like to have added to the framework next. Once we have a list of components we want to add, we should create an issue for each component. Once that's done, we can add the `good first issue` label to each of them. That may encourage more contributors to come help us expand the framework.

[2018-12-11 10:00] musavvirahmed opened #169 "Design File"
Love it! <3

I wish it came with a editable design file though! How about a **.sketch** file? Useful? Or trash?

[2018-12-11 10:30] evexoio commented on #169
@musavvirahmed Thats a good idea!

if you're down for it, you can build a `.sketch` file and push it 👍

We're a bit busy releasing the next version atm 🙏

[2018-12-11 11:06] BcRikko commented on #166
Thanks for making a roadmap 🚗💨

* `<dialog />`: https://caniuse.com/#feat=dialog
   * There are browsers that do not support `dialog` element.
   * It's OK if we use `.nes-dialog` (e.g. `div.nes-dialog`) 👍
* `<meter />`: https://caniuse.com/#feat=meter
   * Can I substitute for `.nes-progress`? 🤔

[2018-12-11 11:06] guastallaigor commented on #166
I think we lack on some of components to create a complete website using NES.css, not sure if this is the purpose here but in my opinion a few of those components it will be a great addition to the framework.

**1. Menu/Sidebar**
Using the `<aside>` tag could be created and styled 8bit-like, and later used on the `index.html` docs, to make easier to find components, oposed to scroll down the page

[2018-12-11 11:31] BcRikko commented on #166
I'll describe my development policy ❤️

* I'd like to keep it simple and minimal
* I'd like to only provide components
   * like `Atoms` of Atomic Design
   * In some cases, I may provide `Molecules` of Atomic Design
* I don't want to provide layout styles
   * CSS is so difficult for me
   * because providing layout styles creates complexity and difficulty.
* I don't want to use JavaScript
* I'd

[2018-12-11 16:41] trezy commented on #166
@BcRikko, I'll try to address each of your points:

Yup, `.nes-dialog` would be just fine. There is a polyfill for `<dialog />` elements that I use on a lot of projects, but I'm also fine with just expecting it to be on a `<div />`.

Not exactly. [`<progress />`][mdn-progress] and [`<meter />`][mdn-meter] elements are distinctly different. The `<progress />` component is intended to show to curren

[2018-12-11 20:46] evexoio commented on #146
@alanrsoares We can't reproduce this bug, if you were able to provide reproducible steps please comment them and I will reopen the issue. 🙌

[2018-12-11 20:46] #146 closed

[2018-12-11 22:06] guastallaigor opened #173 "Separate the ISSUE_TEMPLATE.md into two files"
I propose to separate the `ISSUE_TEMPLATE.md` into two new files inside a `ISSUE_TEMPLATE` folder.

**Example:**

![image](https://user-images.githubusercontent.com/22016005/49833183-e3d71e00-fd7f-11e8-864f-157a48407adb.png)

So the template is different when the user opens a bug and when he opens a feature request.

And make the fonts smaller because I think right now they are too big:

![image](

[2018-12-11 23:31] #173 closed

[2018-12-12 00:57] guastallaigor opened #175 "Icons Gmail and Linkedin are not in develop"
**Icons right now:**

![image](https://user-images.githubusercontent.com/22016005/49839832-f4938e00-fd97-11e8-8832-acef4fc5bf7a.png)

The icons Gmail and Linkedin were mentioned here #65 .

 I can make a PR just that we don't lose them.

[2018-12-12 01:54] panoramix360 commented on #166
Maybe we can make:

- Buttons with Icons
- Selects with Buttons, so you can select options with buttons.
- Cards that simulate a snes cartridge? (Just an idea 😸
- Multiple Select

This is some just crazy ideas, if I come up with more I'll post here.

I'm making an <ul> 💃

[2018-12-12 09:36] guastallaigor commented on #166
@panoramix360 Can you create an issue for the `<ul>` component? So that others can know that you are already making that :+1:

[2018-12-12 09:53] guastallaigor opened #178 "Inconsistent class container vs table"
Table has class is `is-centered`, while container has class `is-center`

![image](https://user-images.githubusercontent.com/22016005/49861413-e9b21b00-fde2-11e8-9346-f1564c6cacca.png)

![image](https://user-images.githubusercontent.com/22016005/49861437-f898cd80-fde2-11e8-8a42-d3754d51a097.png)

Maybe it's better to change one? :thinking:

[2018-12-12 10:32] BcRikko commented on #178
`is-centered` +1

[2018-12-12 13:10] panoramix360 opened #179 "Implementation of <ul> Lists"
I'm making `<ul>` lists implementation, and will use this issue to PR.

As soon as I have some prototype I'll post here!

[2018-12-12 15:04] guastallaigor opened #180 "[Suggestion] Create a component/class doc"
We don't have anywhere in the framework each class each component have, aswell the HTML example for that. So now everyone has to pretty much check the code, or inspect the element using devtools.

So here is my suggestions for this:

- Add next to each component inside `index.html` the HTML that was used for making that component

This is going to make `index.html` larger, so we have maybe compact

[2018-12-12 15:06] #175 closed

[2018-12-12 22:13] panoramix360 commented on #179
I already made these two examples, what do you guys think?

![image](https://user-images.githubusercontent.com/2154092/49902170-51e81780-fe4a-11e8-89e1-09b81ebf03dc.png)

[2018-12-12 22:57] BcRikko commented on #179
I prefer `◆` :heart_eyes:

because, `▶` is similar to the Radio button. :thinking:
and `>` is similar to the Blockquote :thinking:

[2018-12-12 23:04] panoramix360 commented on #179
Did you have another idea for another icon?

[2018-12-13 03:33] panoramix360 commented on #179
Maybe haha, I just followed the convention!

But ok! I already put it on storybook, I'll make a PR 😀

[2018-12-13 17:31] trezy commented on #180
Hey @guastallaigor, I do love the idea of making the website more helpful for users of the framework. However, I'd love to see us go more in the direction of Bootstrap's documentation, where we have pages for individual components, as well as code examples and such. That may just be me, though. Most of our components aren't that complicated, but some of them (like containers) have several variatio

[2018-12-13 18:34] #179 closed

[2018-12-13 18:34] panoramix360 commented on #179
PR on develop #182

[2018-12-13 20:57] #158 closed

[2018-12-13 20:58] trezy commented on #152
@4k1k0, I see that you deleted the branch that you were originally using to create this component. Are you still planning on making a PR for it at some point?

[2018-12-13 21:17] 4k1k0 commented on #152
@trezy oh sorry, i didn't realise i deleted the branch. 🙇 I will check it out 😄

[2018-12-13 21:18] panoramix360 opened #184 "<input type="range" /> component"
I started making an input range component.

When I have something to show I'll post here!

[2018-12-13 21:50] guastallaigor commented on #180
That would be great though, specially if we add more variations in the future for each component, but that would mean a major refactor in the `README.md`, so the other members would have to agree on this, but in my opinion this is a good move.

This is also good, both the ideas are, I'm onboard on either of one. I think having this doc is a major addition to the framework and for some users could

[2018-12-13 21:52] trezy commented on #184
Woohoo! I could use this on a project where I'm currently using NES.css. I'm excited! 😁

[2018-12-13 21:59] soph-iest opened #185 "Nav component idea"
Noticed there was no nav formatting. I envisioned a pretty straightforward one, that looks a lot like the current radio button functionality, with the same font and having the arrow selector appear on mouse-over; maybe with a light grey background.

Potentially, we could also make available an option for an "active" formatting, where the arrow would rest on the page the user is currently on. (They

[2018-12-13 22:06] soph-iest commented on #185
For reference, here's the current radio button. Kinda like this.
<img width="202" alt="screenshot 2018-12-13 17 06 29" src="https://user-images.githubusercontent.com/25902017/49970484-74853980-fef9-11e8-86c4-4fb7cf7f05db.png">

[2018-12-13 22:30] trezy commented on #185
I wonder if a vertical navigation component might be more relevant? NES game menus [were][menu-example-1] [almost][menu-example-2] [always][menu-example-3] laid out vertically.

I'd also love to see a horizontal nav in NES.css, but I'd rather see a new paradigm created for it. This, of course, is a personal opinion, so @soph-iest, feel free to go to town on whatever design you prefer. 😉

[menu-exa

[2018-12-14 00:00] BcRikko commented on #166
I define `layout` as `molecules`. 📝
In other words, It's mage by combining existing components. (e.g. Card, Pagination, Breadcrumb...)

Take [Bulma docs](https://bulma.io/documentation/) for example...
* What I want to provide is `Elements`.
* What I don't want to provide is `Components`.

`bulma.min.css` file size is about 166KB. 😱
but I often don't use half of `bulma.min.css`. so I'd like to pro

[2018-12-14 01:09] soph-iest commented on #185
You're totally right. Think it should be pretty easy to set it up both ways.
Gonna be pretty busy the next few days, but I'll try to have something by early next week!

[2018-12-14 10:41] #178 closed

[2018-12-14 15:43] kenshinji commented on #1
@BcRikko I noticed you mentioned me in this issue about help wanted for Chinese translation, so I created this PR https://github.com/nostalgic-css/NES.css/pull/186.

[2018-12-14 21:21] trezy commented on #166
@BcRikko Sounds good! How do you feel about letting people contribute a couple of components/molecules/organisms to NES.css, then we can look into splitting them into their own repo? I figure it'll be a lot simpler to figure out what the repo needs to look like for the components once we have a couple of components to work with.

Also, I think we should consider removing reboot.css if we don't wan

[2018-12-14 21:22] trezy commented on #185
Woot! Thanks so much, @soph-iest, I'm excited to see what you come up with! 🎆

[2018-12-14 23:32] evexoio commented on #148
@peterblazejewicz yep, thats right.

Thanks 🙏

[2018-12-14 23:32] #148 closed

[2018-12-15 11:15] BcRikko commented on #1
@kenshinji Thanks, I'm so happy😍

but Sorry to trouble you...
I sent you information that was incorrect. 🙇

[2018-12-16 06:54] dewichenagae commented on #185
i

[2018-12-16 19:57] evexoio commented on #38
@andreasvirkus can you share your 404 page once it's done please? 🙏

We still don't have a lot of sites using our framework, your 404 page is a nice use-case to motivate other to use our framework 🙌

[2018-12-17 11:14] BcRikko commented on #166
I just came up with another idea 💡

I think that it's not good to split repositories.
and we need `reboot.css`, because element style collapses if we remove `reboot.css`.🤔

so we provide 2 CSS files.
[code]

[code]

[code]

What do you think? 🤔

[2018-12-17 18:09] trezy commented on #166
@BcRikko I think that is a great idea! I'll start looking into an implementation today! 😉

[2018-12-17 22:57] evexoio commented on #38
@TangibleDream [We don't have enough people using our frameworks](https://github.com/nostalgic-css/NES.css/pull/119#issuecomment-447670695) to have an examples page yet.

But keep an eye on this thread, if we get @andreasvirkus's website, and at least 2 more, feel free to open a PR for this 🙌

We already have https://logo-maker.egoist.sh using us :)

So let's say 3-4 examples to open a PR, and the

[2018-12-18 00:38] jjspace opened #193 "Add Browserlist"
Add `.browserlistrc` file or `browserlist` key in package.json to specify the target versions of browsers that this framework will work with. This will act as a configuration for Autoprefixer as specified [here](https://github.com/postcss/autoprefixer#browsers). This would also specify for contributors and consumers alike which browsers we support. For contributors it would let us know what css pr

[2018-12-18 01:07] BcRikko commented on #193
We already use browserlist. 👍
https://github.com/nostalgic-css/NES.css/blob/ac136794133f8e5cb70b09993e40ff8561b2bda0/package.json#L56-L58

so I think that it will probably work on IE.
but IE has been untested because I have no environment to test. 😇

[2018-12-18 01:07] #193 closed

[2018-12-18 01:24] jjspace opened #194 "Adding Spinners"
@guastallaigor mentioned adding spinners/loaders on the roadmap so I started work on a few. I created a classic style segmented loading bar as well as a basic spinner. I'm also planning to create a pixel art style hourglass and a standard arc following a circle. Animations to come. I'd love any other suggestions or ideas!

![Imgur](https://i.imgur.com/juuSdiU.png)
![Imgur](https://i.imgur.com/e409

[2018-12-18 01:38] guastallaigor commented on #194
Wow, awesome work @jjspace . Looking forward to see that in the framework! 💯

[2018-12-18 02:00] guastallaigor opened #195 "Bug: Not working on Safari IOS 12.1"
**Describe the bug**
I've just tested on my iphone and the framework is not working on it.

**To Reproduce**
Open https://nostalgic-css.github.io/NES.css/ on Safari in an IOS 12.1

**Expected behavior**
To work and run smoothly

**Demonstration**
![screenrecording_121720182353](https://user-images.githubusercontent.com/22016005/50127241-89463200-0257-11e9-813a-59df0d14022a.gif)

**Environment**

*

[2018-12-18 03:12] BcRikko commented on #195
I think that it is probably fixed 🤔
https://github.com/nostalgic-css/NES.css/issues/72
https://github.com/nostalgic-css/NES.css/pull/75

[2018-12-18 13:44] #169 closed

[2018-12-18 14:03] BcRikko opened #196 "Bug: Mixed content on demo site"
**Describe the bug**
Demo site has error that mixed content.

**To Reproduce**
Open demo site.

**Expected behavior**
No error is displayed on demo site.

**Screenshots**
![2018-12-18 23 01 13](https://user-images.githubusercontent.com/5305599/50158972-d6d6a380-0318-11e9-8722-9458d0f9da04.png)

**Environment:**
 - OS: macOS
 - Browser: Chrome
 - Build environment (i.e. NodeJS):

**Suggestion(s) fo

[2018-12-18 14:17] BcRikko opened #197 "Change URL of CSS file"
**Describe the bug**
We removed the `css` directory from master branch.
But the demo site is referring to the `css` directory.

**To Reproduce**

**Expected behavior**

**Screenshots**
![2018-12-18 23 16 48](https://user-images.githubusercontent.com/5305599/50159833-05557e00-031b-11e9-89cb-48da38148f69.png)

**Environment:**
 - OS:
 - Browser:
 - Build environment (i.e. NodeJS):

**Suggestion(s) f

[2018-12-18 15:05] trezy opened #200 "Don't run `commitlint` step on `master` branch"
**Describe the bug**

The `commitlint` step of our CI build is failing when merging a release to `master`.

[2018-12-18 15:15] #196 closed

[2018-12-18 15:15] #197 closed

[2018-12-18 15:21] #200 closed

[2018-12-18 15:54] BcRikko commented on #197
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-18 15:54] BcRikko commented on #196
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-18 15:54] BcRikko commented on #6
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-18 15:54] BcRikko commented on #65
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-18 15:54] BcRikko commented on #39
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-18 15:54] BcRikko commented on #101
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-18 15:54] BcRikko commented on #97
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-18 15:54] BcRikko commented on #104
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-18 15:54] BcRikko commented on #86
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-18 15:54] BcRikko commented on #102
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-18 15:54] BcRikko commented on #34
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-18 15:54] BcRikko commented on #62
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-18 15:55] BcRikko commented on #53
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-18 15:55] BcRikko commented on #27
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-18 15:55] BcRikko commented on #42
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-18 15:55] BcRikko commented on #37
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-18 15:55] BcRikko commented on #28
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-18 15:55] BcRikko commented on #21
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-18 15:55] BcRikko commented on #9
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-18 15:55] BcRikko commented on #3
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-18 15:55] BcRikko commented on #169
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-18 15:55] BcRikko commented on #93
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-18 15:55] BcRikko commented on #13
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-18 16:04] jjspace opened #205 "Optimize Icon Box Shadow"
**The Problem**
Our current solution for creating icons from box shadows creates a very large css output especially in regards to duplicating essentially the same `box-shadow` for each of the 4 sizes we offer.

**A Solution**
Optimize the css output so there is only one box shadow specified for each icon regardless of size. I found a way to ensure that icons are scalable utilizing `em` sizing inst

[2018-12-18 17:37] 4k1k0 opened #206 "[Suggestion] Make a class for thumbnails"
I would like to see something like bootstrap's thumbnails. Something like this:

    <img src="image.jpg" class="nes-thumbnail">

It can even have different styles

    <img src="image.jpg" class="nes-thumbail mario">

to get something like this

![2018-12-18 11_33_34-window](https://user-images.githubusercontent.com/3821782/50171771-ef16d600-02b8-11e9-98e8-57ef43bee0fd.jpg)

If you like the idea

[2018-12-18 18:07] trezy opened #207 "Use data URIs for cursors?"
**Is your feature request related to a problem? Please describe.**
Currently our cursors are pointed to our Unpkg URLs, which isn't awesome, as the links may change from version to version.

**Describe the solution you'd like**
I'd be pretty stoked if we could use data URIs instead of URLs to get the cursor images.

[2018-12-18 20:41] guastallaigor commented on #195
Yeah my bad, working great on release :100: , closing this.

[2018-12-18 20:41] #195 closed

[2018-12-18 21:16] panoramix360 commented on #184
Until now it's being like this ˆˆ

![image](https://user-images.githubusercontent.com/2154092/50183497-68ceb400-02f9-11e9-8dd5-a4d9708b5851.png)

I'll try to make another models and colors, do you guys have another suggestions?

[2018-12-18 21:50] evexoio commented on #184
@panoramix360 looks good to me 🙌
btw can we remove the dotted borders on focus?

[2018-12-18 21:53] evexoio commented on #206
@4k1k0 I don't really get what you're suggesting 🙈

Can you please add more examples or describe a bit more what we're adding here?

[2018-12-18 22:09] 4k1k0 commented on #206
Bootstrap has a CSS class for thumbnails, which gives a border to a `<img>` tag so it can looks like if it has a frame.

![2018-12-18 16_02_40-a pen by wako](https://user-images.githubusercontent.com/3821782/50185747-627f0e80-02de-11e9-8957-4478801dcf15.jpg)

It would be cool if NES.css has something similar to this. It could be like the squares in Mario Bros 3 and even another games.

![mario bro

[2018-12-18 22:12] trezy commented on #184
@evexoio those dotted borders look like the normal focus indicator for these controls.

[2018-12-19 00:06] guastallaigor opened #211 "Add badges component"
**Is your feature request related to a problem? Please describe.**
Add a badges component kind of like github has but 8bit-like

**Describe the solution you'd like**

First draft

![screencast-localhost-6006-2018 12 18-21-39-49](https://user-images.githubusercontent.com/22016005/50189787-dedd1600-030d-11e9-86ec-c64b36655f39.gif)

**Describe alternatives you've considered**
Not adding this or chang

[2018-12-19 00:22] guastallaigor commented on #211
Second draft, added hability to change left/right side

![screencast-localhost-6006-2018 12 18-22-21-09](https://user-images.githubusercontent.com/22016005/50191090-4ba6df00-0313-11e9-88e0-ac0dbceca588.gif)

[2018-12-19 00:39] BcRikko opened #214 "Change url for creating issue"
**Is your feature request related to a problem? Please describe.**
When creating a issue, I would like to open [choose issue type](https://github.com/nostalgic-css/NES.css/issues/new/choose)

**Describe the solution you'd like**

[code]
Because the issue template is not applied when opening the issue creation page directly.

[2018-12-19 01:05] BcRikko commented on #211
Sounds great 👍

We might like to use a simple badge like the image below. 🤔
![badge](https://user-images.githubusercontent.com/5305599/50192186-9a389580-0374-11e9-9b9e-274d0699bef0.png)

Could you do something like the following? 🤔
[code]

[2018-12-19 01:08] jjspace commented on #211
I like the idea and they look good. However I'm curious about where someone might use a two toned badge like this outside of the badges in say a Github README. Where else might it be used?

Regardless I think this could also be a good starting point/inspiration for [button group](https://foundation.zurb.com/sites/docs/v/5.5.3/components/button_groups.html) or radio group.

[2018-12-19 16:22] panoramix360 commented on #184
I'll try to remove that but I think this is setted default by browser and we can't change with CSS :(

I'll see what I can do!

[2018-12-19 17:56] guastallaigor commented on #211
Thank you for your feedback, I will try to improve this in the next few days :paintbrush:

[2018-12-20 15:57] trezy commented on #152
@Divoolej that looks fantastic! It looks like @4k1k0 is having some issues with getting `<select />` styles added to the repo, so if you wanted to make a PR to add these styles I think we'd all be pretty stoked about it. 😁

[2018-12-20 16:07] trezy commented on #205
@jjspace Can you confirm that this issue was resolved by the merge of #215?

[2018-12-20 16:11] jjspace commented on #205
Yes, This was resolved by PR #215. Sorry I forgot to update the issue

[2018-12-20 16:11] #205 closed

[2018-12-20 19:48] Divoolej commented on #152
Thanks @trezy 😄 There you go! -> https://github.com/nostalgic-css/NES.css/pull/217 :)

[2018-12-20 20:53] jjspace opened #218 "Document pixelize mixin"
**Is your feature request related to a problem? Please describe.**

In reviewing #217 and other recent PRs I've noticed it's not always clear how to use the `pixelize` mixin especially given all the recent changes to it. This extends to how we handle `box-shadows` throughout most of the project and when we can use a "default color" (see #60, #143).

**Describe the solution you'd like**

Create som

[2018-12-20 21:23] jjspace opened #219 "Form style folder structure"
**Is your feature request related to a problem? Please describe.**

The problem is very minor but I noticed that we have a directory for form styles which includes styles for inputs and selects. However the styles for radios, checkboxes and buttons are located under the elements directory.

**Describe the solution you'd like**

Move the radio, checkbox and button styles into the form directory as

[2018-12-21 05:45] qiaohaoforever opened #220 "希望增加中文字体"

[2018-12-21 10:50] BcRikko commented on #220
Please create using the Issue template. 🙏

and we are not developing fonts.
We only add it to the fonts section, is that alright? 🤔
https://github.com/nostalgic-css/NES.css#fonts

[2018-12-21 11:39] HFO4 commented on #220
You can try this
https://github.com/SolidZORO/zpix-pixel-font

[2018-12-21 13:08] BcRikko commented on #219
How about this? 🤔
I referred to [the document of bulma](https://bulma.io/documentation/). 🔍👀
[code]

[2018-12-21 13:15] BcRikko commented on #218
I agree to make a document of `pixelize mixin`. 👍
I think it's better to write in `icon-mixin.scss` 📓

For `box-shadow` guildline`...
How about to create `border-style-mixin.scss`? 🤔
Then we will not get confused without `box-shadow` guidelines.

[2018-12-21 14:47] df7c5117 commented on #220
And you can try 方正点阵冯简体 （for non-commercial use only）

[2018-12-21 15:21] soph-iest commented on #185
Sorry for the delay on this -- been a busy week at work with the holidays and all. Will try to get back on this once I have time. :)

[2018-12-21 15:41] kevyanue commented on #166
is there a `<inpu type="file">` already? (i haven't found one)
if not, it would be a nice to add

[2018-12-21 21:20] jjspace commented on #184
Looking good! Are you able to make the handle pixelized? would be cool and fit a little better with the framework.

[2018-12-21 21:22] jjspace commented on #219
Yes that's exactly what I had in mind. I just wasn't sure about `button.scss` It's kind of a form element in that it's a user input but it's also used more generally than in forms. I can see it in either folder so it's up to you.

[2018-12-21 22:19] evexoio opened #222 "Feature: Need to give cookies"
Give this man a cookie 🎉

https://escapefrom.me

<img width="1440" alt="screen shot 2018-12-22 at 12 19 55 am" src="https://user-images.githubusercontent.com/12014839/50365899-5bc2f680-057f-11e9-92ca-a16f89d3aaa1.png">

related #38

[2018-12-21 23:19] evexoio commented on #222
<img width="825" alt="screen shot 2018-12-22 at 1 17 36 am" src="https://user-images.githubusercontent.com/12014839/50367236-7dc07700-0587-11e9-9644-65296ee081df.png">

Finished the game, we've got some credits 🥇

[2018-12-22 01:30] guastallaigor commented on #166
@kevyanue No, there isn't. I agree, it would be great to have one 😄

[2018-12-22 11:53] evexoio commented on #222
Closing for now, one more site and we should add an examples.md or something to add sites using our framework :)

[2018-12-22 11:53] #222 closed

[2018-12-23 03:37] #152 closed

[2018-12-23 07:46] Ding-Fan opened #223 "Any guide please?"
**Is your feature request related to a problem? Please describe.**

There isn't a usage guide as far as I can see. I found a storybook from the package.json but nobody mentioned it. I finished the `yarn add nes.css` then don't know the next step.

**Describe the solution you'd like**

Please add a usage guide in the readme.

**Describe alternatives you've considered**

Any examples would be apprec

[2018-12-23 12:50] guastallaigor commented on #223
Hello @Ding-Fan . If your question is about a guide on how to _use_ NES.css, unfortunately we don't have one yet (I mentioned something like that here #180).

So, for now there's a few options:

1. Check the code itself to see the classes you can use;
2. Check storybook stories for each component that you want to use to see the classes you can use;
3. Go to the [nostalgic-css](https://nostalgic-cs

[2018-12-23 21:28] LukBukkit opened #226 "Add text colors"
**Is your feature request related to a problem? Please describe.**
It would be nice if I would be able to color the text.

**Describe the solution you'd like**
There are currently color options for forms and buttons.
The best solution would be if I could use those classes on text.
E.g: `<span class=".is-success">Green Text</span>`

[2018-12-24 18:29] diomed opened #227 "something is wrong with cdn?"
https://codepen.io/diomed/pen/dwXYKQ

despite including latest version from unpkg CDN
something's off, and styling of nes.css doesn't really show.

any ideas?

[2018-12-24 19:51] guastallaigor commented on #227
Hello @diomed. Please, check out this issue #6 and PR #82.

We added a `nes` prefix to all of our classes mainly to avoid compatibility issues with other frameworks, so your code isn't working because of that.
Try adding it in all of your classes and see if the result is as expected.
Thank you.

[2018-12-24 22:04] #227 closed

[2018-12-25 01:49] trezy commented on #227
@diomed If this doesn't solve your issue, please comment and we'll reopen your issue.

[2018-12-25 02:10] BcRikko commented on #227
If you want to use the old NES.css, you can use `https://unpkg.com/nes.css@0.0.2/css/nes.min.css` 👍

[2018-12-25 16:56] #214 closed

[2018-12-25 22:57] BcRikko opened #228 "There is no nes prefix"
**Describe the bug**
There is no `nes` prefix.
https://github.com/nostalgic-css/NES.css/blob/44d1e0d415c35228e07e290cb1bb2774c0d06c70/scss/form/inputs.scss#L60-L72

**Expected behavior**
[code]

[2018-12-27 08:47] trezy opened #230 "Should we standardize our round corners?"
**Is your feature request related to a problem? Please describe.**
Currently we have components that have rounded corners by default (`.nes-balloon`), and we have other components that are only rounded if they receive the `.is-rounded` class (`.nes-container`, `.nes-dialog`).

Personally, I think we should round all of those corners by default, but I'm open to hearing other arguments.

[2018-12-27 10:00] iammarkps opened #232 "Table border disappear when using "row-span" attribute"
**Describe the bug**
When using row-spawn attribute border is missing!

**To Reproduce**
1. Create a table
2. Use row-span attribute

**Expected behavior**
Border show normally

**Screenshots**
<img width="1680" alt="screenshot 2018-12-27 16 56 59" src="https://user-images.githubusercontent.com/12445326/50475880-a964b680-09f8-11e9-9b21-8a0c67864105.png">

**Environment:**
 - OS: MacOS
 - Browser:

[2018-12-28 22:51] #226 closed

[2018-12-29 08:01] #211 closed

[2018-12-31 18:53] evexoio commented on #137
Closing since this is done, https://github.com/nostalgic-css/NES.css/blob/develop/CODE_OF_CONDUCT.md

[2018-12-31 18:53] #137 closed

[2019-01-02 09:37] UltraCakeBakery commented on #230
Personally, i think everything should be squared by default.

[2019-01-02 22:08] guastallaigor opened #235 "Bug: With title container's class not working anymore"
**Describe the bug**
The container `with-title` class is not working anymore.

**To Reproduce**
Check out the containers in index.html `master` and `develop` or run storybook.

**Expected behavior**
The `with-title` class in intended to let the container look like a fieldset.

![image](https://user-images.githubusercontent.com/22016005/50615070-306ad080-0eca-11e9-9927-e3024fe5ec3b.png)

**Screensh

[2019-01-02 22:15] guastallaigor commented on #235
Also, container the border-white of the container `is-dark` class is gone:

![image](https://user-images.githubusercontent.com/22016005/50615312-1e3d6200-0ecb-11e9-93a2-5dc0695cf958.png)

[2019-01-02 23:43] guastallaigor opened #238 "Bug: White border of the container is-dark is missing"
**Describe the bug**
The container `with-title` class is not working anymore.

**To Reproduce**
Check out the containers in index.html `master` and `develop` or run storybook.

**Expected behavior**
The `is-dark` class in intended to have a border white _inside_ the container.

![image](https://user-images.githubusercontent.com/22016005/50615070-306ad080-0eca-11e9-9927-e3024fe5ec3b.png)
![image](h

[2019-01-03 00:49] guastallaigor opened #240 "Bug: Button is-disabled is able to click now"
**Describe the bug**
The button `is-disabled` is able to click now.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to storybook or index.html
2. Click on `is-disabled` button
3. You are able to click on it even if the cursor is `not-allowed` and the css button click effect is presented.

**Expected behavior**
Should not be clicked just like it is on master.

**Screenshots**
![image](htt

[2019-01-03 03:18] shawnhill121 commented on #238
This is happening when the screen width exceeds 979px, if you scale the viewport width down below 980px again, you'll see the border return. I'm not 100% sure what this means, but I'll continue to investigate.

[2019-01-03 15:36] evexoio commented on #230
I agree

[2019-01-03 20:38] trezy opened #241 "Add a dark mode for dialogs"
**Is your feature request related to a problem? Please describe.**
`.nes-dialog` elements don't have a dark mode modifier.

**Describe the solution you'd like**
We add a dark mode modifier for `.nes-dialog` elements.

[2019-01-03 21:05] trezy opened #242 "Add rounded modifier for progress elements"
**Is your feature request related to a problem? Please describe.**
`.nes-progress` elements do not have `.is-rounded` modifiers.

**Describe the solution you'd like**
`.nes-progress` elements have `.is-rounded` modifiers.

[2019-01-03 23:44] #235 closed

[2019-01-04 04:46] shawnhill121 commented on #238
I think it's somehow losing the ::before and ::after psuedo-class styling at the 980px breakpoint? I'm not seeing the behavior on the page I'm building that references the framework from the CDN, only on the Storybook version. Could this be an issue due to something it's inheriting from Storybook's built-in styles?

[2019-01-04 06:12] shawnhill121 commented on #166
@kevyanue @guastallaigor  I've been looking into the <input type="file"> element, the only browser that supports independent styling of it with pure CSS is Edge, with the ::ms-browse pseudo-selector. For the other ones, the best I've come up with is hiding the input and using a label to essentially mask it for styling purposes. Without using JavaScript I don't think there will be a way to display

[2019-01-04 14:40] guastallaigor opened #244 "Bug: Borders is not responsive anymore"
**Describe the bug**
The borders has a few bugs in some resolutions. It's hard to explain but is easy to show, see Screenshots below:

**To Reproduce**
1. Go to the `develop` branch;
2. Change the line 17 of the `index.html` file to `<link href="./css/nes.min.css" rel="stylesheet" />`;
3. Run `npm run build`;
4. You can use something like `php -S localhost:4167`;
5. Check localhost:4167;
6. Zoom i

[2019-01-04 14:51] guastallaigor commented on #166
@shawnhill121 In my opinion this is a good approach!
If anyone else has anything against it, you can make a PR for it  :+1:

[2019-01-05 16:24] shawnhill121 opened #246 "[Enhancement]Icons-Heart-Half-Empty"
**Is your feature request related to a problem? Please describe.**
I felt a half-empty heart icon would be a nice addition.

**Describe the solution you'd like**
An icon for displaying a heart half empty.

**Describe alternatives you've considered**
None.
**Additional context**
I will create this icon and add it to the project.

[2019-01-10 16:48] montezume commented on #58
One thing that might be worth looking into is using a service like [percy](https://percy.io) to run the tests. That way the tests themselves don't need to live in the repository, and all of the issues with rendering differently on different machines don't have to be dealt with.

I recently integrated visual regression testing for the ui component library for which I'm responsible at work, and a co

[2019-01-13 20:45] juanpablolvl99 opened #248 "is-dark input"
Is just a question, why don't have a is-dark to inputs? would be nice use inputs inside of dark containers in the same color scheme.

ps.: sorry about my english, i hope you can understand my question.

[2019-01-14 14:22] guastallaigor commented on #248
Hello @juanpablolvl99 , we don't have it simply because no one made it :smile:. Contributions are welcome!
In case you want to develop it, create a new Issue using the issue template (Feature request) and comment that you are developing it.
Any other question just let us know. I can reopen this issue.
Thank you.

[2019-01-14 14:22] #248 closed

[2019-01-15 00:54] #240 closed

[2019-01-15 00:59] BcRikko commented on #246
ref #247

[2019-01-15 01:02] BcRikko commented on #230
+1 :+1:

[2019-01-15 20:45] juanpablolvl99 opened #249 "is-dark input"
Would be nice if could have a dark input to be used inside of dark containers. I'm making one

**Is your feature request related to a problem? Please describe.**
```.nes-input``` elements don't have a dark mode modifier.

**Describe the solution you'd like**
add a dark mode modifier for ```.nes-input``` elements.

[2019-01-16 14:37] guastallaigor opened #250 "Bug: Borders not working on firefox"
This bug was founded by @juanpablolvl99. I tested it myself and it is happening.

**Describe the bug**
Pixelated borders are not working in Mozilla Firefox in the `develop` branch.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repository;
2. Run `npm install`;
3. Run `npm run build`;
4. Run `npm run storybook`;
5. Click in the Inputs or Buttons or Selects or Textareas or Progress

[2019-01-17 23:05] BcRikko commented on #249
ref #251

[2019-01-17 23:05] #249 closed

[2019-01-17 23:05] BcRikko commented on #241
ref #251

[2019-01-17 23:05] #241 closed

[2019-01-17 23:08] BcRikko commented on #220
Close this issue. Please reopen it if you need. 🙏

[2019-01-17 23:08] #220 closed

[2019-01-18 02:50] solkaz opened #253 "Bug: .nes-mario class not appearing in nes.min.css"
**Describe the bug**
Currently Mario is displaying incorrectly on the demo page:
![screen shot 2019-01-17 at 8 41 54 pm](https://user-images.githubusercontent.com/10211603/51362235-64ccb800-1a98-11e9-848d-96a1cb447f42.png)

Opening up DevTools, I saw that the `.nes-mario` class had no rules, and indeed that rule wasn't defined in `nes.min.css` (but was defined in `nes.css`). Both files were checke

[2019-01-18 14:41] guastallaigor commented on #253
Hello. I think this is fixed in develop but I will confirm it later.
Thank you.

[2019-01-18 20:41] in-in opened #255 "Dark mode for checkbox"
**Describe the bug**
The checkbox loses visibility when it is inside a dark container
![v-2019-01-18_23 16 51](https://user-images.githubusercontent.com/8797432/51411203-0ecf4180-1b78-11e9-8ecd-e5d262de085e.gif)

**To Reproduce**
1. Go to https://nostalgic-css.github.io/NES.css/
1. Add `is-dark` class to container with checkbox
2. Try check/uncheck this checkbox
![190181547843296](https://user-ima

[2019-01-19 19:06] guastallaigor commented on #242
Closing this for now because of #254.

[2019-01-19 19:06] #242 closed

[2019-01-21 08:04] sandrosc commented on #81
Setting `font-weight: normal;` makes the font a lot less blurry (Windows 10, Chrome 71). Apparently the font has no bold style. Perhaps we can use both properties, `font-weight` and `font-smoothing`.

![2019-01-21 08_54_23-window](https://user-images.githubusercontent.com/12650063/51460103-d50a6080-1d5a-11e9-88d8-4f04f37c90f4.png)

[2019-01-23 01:55] yamanoku opened #259 "nes-avatar add image-rendering pixelated"
**Is your feature request related to a problem? Please describe.**

I was concerned that only the avatar image is rendering smoothly among the components of the dot.

**Describe the solution you'd like**

[code]

**Additional context**
Although it may not have a big influence, I thought that it might be able to offer something close to the value of NES.css when I put it in.

However, Can I Use say

[2019-01-23 06:50] BcRikko commented on #250
Maybe this is related to #234

|bug|???|
|----|----|
|![bug](https://user-images.githubusercontent.com/5305599/51588064-4f3b1080-1f26-11e9-9340-804dce768f9d.png)|![fill](https://user-images.githubusercontent.com/5305599/51588067-506c3d80-1f26-11e9-81a0-c9523b5ac3c6.png)|

I don't know why but it seems that it will not be working when using HEX color codes. 🤔

[2019-01-23 06:54] BcRikko commented on #244
Maybe this is related to #72 .
What is set for `-webkit-font-smoothing: antialiased;`? 🤔

[2019-01-25 12:54] lorenzleutgeb opened #260 "Adopt technical restrictions from the NES (less colors!)"
I think that lib uses too many colors. Also it would be nice to enforce other constraints that were required by the NES:

https://en.wikipedia.org/wiki/Nintendo_Entertainment_System#Technical_specifications

[2019-01-25 13:45] BcRikko commented on #260
ref #27

[2019-01-29 08:53] BcRikko opened #262 "font-size < 10px doesn't work `em` on Chrome"
**Describe the bug**
Does not see icons less than 10px on Chrome.

**Expected behavior**

**Screenshots**
![2019-01-29 17 48 49](https://user-images.githubusercontent.com/5305599/51895900-9aee2e00-23ee-11e9-8091-0910b53ea7a6.png)

**Environment:**
 - OS: macOS High Sierra
 - Browser: Chrome 71

**Suggestion(s) for fixing this issue**

Use `transform: scale(xx)` instead of `em`.

[code]

[2019-01-29 12:45] BcRikko commented on #262
ref #215

[2019-01-29 15:14] BcRikko commented on #262
`transform: scale()` is not good. 😭
https://jsfiddle.net/bc_rikko/q8txjL5u/
![2019-01-29 23 50 27](https://user-images.githubusercontent.com/5305599/51917914-eb33b300-2423-11e9-96e4-48c2bdb54da9.png)

[2019-01-30 09:41] guastallaigor commented on #255
Hello @Ilyeo, I'm going to be busy at work but I can take a look when I get back home. Thank you for your contribution.

[2019-01-30 10:49] BcRikko opened #265 "Recreate nes-badge style"
**Describe the bug**
refs #262, #264
font-size less than 10px does not working on Chrome.

I couldn't fix `nes-badge` style. Because the calculation of nes-badge was too complex.
So I'll recreate it.

**Screenshots**
![2019-01-30 19 48 06](https://user-images.githubusercontent.com/5305599/51976440-fd672d00-24c7-11e9-95ea-b3070ac6965f.png)

**Environment:**
 - OS: macOS High Sierra
 - Browser: Chro

[2019-01-30 21:50] guastallaigor commented on #262
@BcRikko I could not reproduce this bug. I can see all the icons in all resolutions and zoom types in my Chrome.

**Environment**

- OS: Ubuntu 18.10
- Browser: Google Chrome Version 71.0.3578.98 (Official Build) (64-bit)
- Build environment (i.e. NodeJS): v10.15.0

Am I missing something?

[2019-01-31 00:45] BcRikko commented on #262
How is the following code displayed in your environment?
[code]
![2019-01-31 9 39 14](https://user-images.githubusercontent.com/5305599/52022400-1a3d4800-253c-11e9-8538-efdbd6b89931.png)

If it is not the same as the screenshot, could you check the following settings.
`chrome://settings/fonts`  > `minimum font size`
![settings](https://user-images.githubusercontent.com/5305599/52022571-d3038700-25

[2019-01-31 01:46] BcRikko commented on #244
I fixed border bugs #261
Did you reproduce the bug yet? 🤔

[2019-01-31 04:04] #219 closed

[2019-01-31 04:39] BcRikko opened #269 "Add sample code to the demo page"
I want to sample code on demo page.

**Is your feature request related to a problem? Please describe.**
It's hard to read HTML and CSS to use NES.CSS.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

![127 0 0 1_5500_index html](https://user-images.githubusercontent.com/5305599/52031056-f68af980-255d-11e9-8b5e-3476d9f24703.png)

[2019-01-31 09:20] guastallaigor commented on #269
In my opinion it is better if we have a show/hide code, and it is hidden by default, because sometimes people just want to checkout the components first.
And maybe another button to copy code to clipboard...

What do you think?

[2019-01-31 15:16] LunarDevelopment commented on #269
Either way it needs implemented ASAP, this framework is awkward as hell to use by just inspecting source all the time.

In addition to code snipits I think it'd be great to have a boilerplate to start projects with (just bog standard html, head body with a few standard components like nav, panel, form fields with submit)

Just imo.

[2019-01-31 20:10] guastallaigor commented on #269
Yes, I agree with the first part, ref #180.
 Not sure about the boilerplate tho, because usually it has JS involved and we don't offer any. And this days people are using JS frameworks, and their CLIs, so it's kind of hard to create a boilerplate that suits for everyone.
You could use wrappers for [vue](https://github.com/jefer590/vuenes.css) and [react](https://github.com/bschulte/nes-react) that

[2019-02-01 14:18] guastallaigor commented on #244
This is happening only when I zoom in and out in **develop**:

**Example when I zoom in (150%)**

![image](https://user-images.githubusercontent.com/22016005/52128079-21875300-261b-11e9-98f2-0d57a72acecc.png)

**Example when I zoom out (75%)**

![image](https://user-images.githubusercontent.com/22016005/52128145-48458980-261b-11e9-992d-05c215cc5ba7.png)

Chrome: Version 72.0.3626.81 64 bits

**Not

[2019-02-02 05:52] BcRikko commented on #244
Thanks 🙇
It's reproduce when zooming in Chrome. I got it 👍
I'll check and fix again 🔧

[2019-02-02 05:58] BcRikko commented on #262
Thanks 🙇
Umm.... It seems to be reproduced depending on the language and user settings.

It will be reproduced in the environment of at least Japanese users. 😭
So could you merge #264?

[2019-02-04 16:19] andreasvirkus commented on #38
Slow progress on our error/game page atm, but I just discovered also that Croak.io is using you guys ❤️

https://croak.io/
https://croak.io/games/croak
https://croak.io/blog/components-in-vue

[2019-02-04 23:46] #262 closed

[2019-02-05 11:41] BcRikko commented on #244
When I set `space` to `image-border-repeat`, it was a little better. 🤔
But it is not perfect. 😭

### Chrome 72 / zoom 150%

![2019-02-05 20 37 34](https://user-images.githubusercontent.com/5305599/52271032-e9b73d00-2985-11e9-9b89-ee09f5368161.png)
![2019-02-05 20 37 43](https://user-images.githubusercontent.com/5305599/52271033-e9b73d00-2985-11e9-9aa5-50f6c2eea50e.png)

[2019-02-05 14:40] guastallaigor commented on #244
This is way better now than it was before. It is not breaking the layout or anything like that.

Yes, it's not perfect but good enough for me, because I'm not even sure if this could be better.
If you want to make a PR with this I'm ok with that :+1:

[2019-02-05 14:59] BcRikko commented on #244
I see 😆
I'll make a PR. 🚀

[2019-02-05 20:30] #244 closed

[2019-02-06 09:44] #255 closed

[2019-02-07 01:27] guastallaigor opened #273 "Bug: Borders in Firefox have "slices""
**Describe the bug**
refs #250
This a different bug than it was before. It's hard to explain but in a different resolutions/components the borders has some slices on it.

**To Reproduce**
Open Firefox in the docs (`index.html`) or storybooks and check the borders of all the components.

**Expected behavior**
The borders are normal just like Chrome.

**Screenshots**
![image](https://user-images.git

[2019-02-07 14:08] #207 closed

[2019-02-07 15:47] JABedford commented on #230
Squared by default sounds like a good decision.

[2019-02-08 14:30] guastallaigor opened #276 "Add Text and Dialog to index.html (docs)"
**Is your feature request related to a problem? Please describe.**
This feature is just to add the `Text` and `Dialog` component to `index.html` (docs). You will have to see because they're added only in storybook and right now they are the only ones outside `index.html`.

**Describe the solution you'd like**
Add the `Text` above `Icons` and `Dialog` below `Containers`.
The dialog maybe should hav

[2019-02-08 16:14] BcRikko commented on #259
Thanks for your issue 🙇
That's a good point.👍

But `image-rendering` depends on the user's image file and thing users want to do.
So It seems beter to set `image-rendering` in inline style instead of adding to `nes-avatar`.🤔

I'll try on the demo page as follows: https://github.com/nostalgic-css/NES.css/pull/277#issuecomment-461852242
![](https://user-images.githubusercontent.com/5305599/52489585-

[2019-02-09 00:36] guastallaigor opened #281 "Bug: White border of the dialog is-dark is missing"
ref #238.

**Describe the bug**
The container `is-dark` class is not working anymore.

**To Reproduce**
Check out the dialogs in index.html `develop` or run storybook and check `is-dark` class.

**Expected behavior**
![image](https://user-images.githubusercontent.com/22016005/52513447-fd66db80-2bf1-11e9-9a8a-2063789a500d.png)

**Screenshots**
![image](https://user-images.githubusercontent.com/2201

[2019-02-09 12:07] sombreroEnPuntas opened #282 "Coin & Coin earned"
## **Is your feature request related to a problem? Please describe.**
- Add a *Coin*.
- Add animation with a *Coin earned!* feel.

## **Describe the solution you'd like**

- `css` only!

## **Describe alternatives you've considered**
Use `svg` sprites: good alternative but introduces an asset to be loaded.

## **Additional context**
Should be inspired by coins in video games, the ones in real life

[2019-02-09 14:10] BcRikko opened #284 "CSS file size is too large"
CSS file size is too large. I want to make A more light.
`nes.css` contains a lot of things that are not commonly used. (NINTENDO's Characters, large phone icon, game controllers)

（Not to change the subject, but I'm worried about copyright issues of NINTENTO's characters.）

|file|size|
|----|---:|
|nes.css|267,508B|
|nes.css.map|53,334B|
|nes.min.css|249,973B|

I propose to split the file as foll

[2019-02-09 14:48] #281 closed

[2019-02-09 15:17] guastallaigor commented on #284
+1 for splitting into multiple files, but I have a question ✋
If someone uses `npm install` or `yarn add`, what they will get? Just the `nes.min.css` or all of it?

[2019-02-09 15:45] BcRikko commented on #284
It looks like this:
[code]

[code]

[2019-02-09 16:46] BcRikko commented on #284
umm... I might want all-in-one CSS file. 🤔
It's so difficult....

Thanks to everyone, CSS has been optimize. 👐
So the following might be also good. 👍

* nes-core.css
   * base
   * vendors
   * elements
   * forms
   * and so on
* nes.css
   * nes-core.css
   * icons.css
* nes-pixel-arts.css

Usage
[code]

I don't know the optimal solution. 😱
Trezy said, "You can select and download.".
This issue

[2019-02-11 02:27] #282 closed

[2019-02-11 14:59] #276 closed

[2019-02-11 16:11] BcRikko commented on #269
It will be completed soon. 🛠
![demo](https://user-images.githubusercontent.com/5305599/52576109-d6fba700-2e62-11e9-9255-6b58c9b8da77.gif)

[2019-02-11 16:23] #269 closed

[2019-02-13 01:16] #259 closed

[2019-02-16 11:18] BcRikko commented on #269
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-16 11:18] BcRikko commented on #207
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-16 11:18] BcRikko commented on #255
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-16 11:18] BcRikko commented on #244
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-16 11:18] BcRikko commented on #262
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-16 11:18] BcRikko commented on #250
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-16 11:18] BcRikko commented on #238
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-16 11:18] BcRikko commented on #240
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-16 11:18] BcRikko commented on #226
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-16 11:19] BcRikko commented on #214
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-16 19:16] co16353sidak commented on #232
Would like to work on this if no one else is. @iammarkps

[2019-02-16 19:21] co16353sidak commented on #284
Splitting is the best way to go, as with this you won't lose functionality as well as you will also gain some speed, because a user can choose which module it wants.

[2019-02-18 00:21] guastallaigor opened #293 "Bug: Highlight.js not loading sometimes in index.html (docs)"
**Describe the bug**
Sometimes when opening the [documentation demo website](https://nostalgic-css.github.io/NES.css/), there's no style in the code div.

**To Reproduce**
Steps to reproduce the behavior:
1. Open [documentation demo website](https://nostalgic-css.github.io/NES.css/);
2. Click on the "show code button";
3. You will see that sometimes the code div has no style at all;
4. You can als

[2019-02-18 02:46] BcRikko commented on #293
I see 🙈
I fixed it in #292 .

[2019-02-18 09:19] michaldaniel commented on #273
Seems like a result of property.

`border-image-repeat: space;`

The effect goes away on firefox with a change to.

`border-image-repeat: repeat;`

I'm not sure how helpful info that is. I came here a bit at random and started playing with inspector for a short while.

[2019-02-18 09:58] BcRikko commented on #273
Thanks for your comment 👍

I changed `border-image-repeat: space` to `repeat`.
Looks good 🎉

But Chrome's display got weird. it's very difficult... 😱

|#|chrome 72|firefox 65|
|---|---|---|
|`space`|![chrome-space](https://user-images.githubusercontent.com/5305599/52942330-26cff600-33ae-11e9-821e-51adb69e6cd4.png)|![ff-space](https://user-images.githubusercontent.com/5305599/52942334-2899b980-33ae

[2019-02-18 14:42] gabrielizalo opened #294 "NESS.css added to Gabo's Awesome CSS Frameworks"
Just to inform that NSS.css has beed added to [Gabo's Awesome CSS Frameworks](https://github.com/gabrielizalo/Awesome-CSS-Frameworks) in the "**The Big Ones**" and "**General Purpose**" sections.

[2019-02-18 15:05] BcRikko commented on #294
Thanks for adding your css framework list. 🎉

---

It is a trivial matter about this issue, but...

❌  NESS.css
❌ NSS.css
⭕️ NES.css

Thanks 😆

[2019-02-18 15:05] #294 closed

[2019-02-19 11:37] sazzadsazib opened #295 "Feat/add instagram icon"
## **Why Instagram Icon**
I love this project. Really nice creative things to see here. Instagram is one of the popular social media sites so wondering why NES.css don't have that icon.
So I made that icon.

## **Compatibility**
No breaking changes. Just an Icon added to develop branch.

[2019-02-19 13:52] #295 closed

[2019-02-19 14:28] BcRikko commented on #295
ref #296

[2019-02-21 10:26] samzeng opened #298 "Bug: Code format on Documentation site"
**Describe the bug**
Code format in the code demo div.

**To Reproduce**
Steps to reproduce the behavior:
01. Open [documentation demo website](https://nostalgic-css.github.io/NES.css/);
02. Click on the "show code button".

**Expected behavior**
![expected](https://user-images.githubusercontent.com/2367250/53161551-29785880-3605-11e9-8eaa-38408acee401.png)

**Screenshots**
![screenshots](https://

[2019-02-21 11:04] guastallaigor commented on #298
Hello, thank you but this issue is duplicate of #293. The display property I think it will also be fixed when #293 is done.

[2019-02-21 11:04] #298 closed

[2019-02-21 14:20] renantins opened #299 "StackOverFlow icon?"

[2019-02-21 14:21] renantins commented on #299
An icon for StackOverFlow would be nice

[2019-02-21 15:07] BcRikko commented on #299
Thanks for your idea 😆

but I'm sorry 🙇
stackoverflow is not a social button, so I can not think of a purpose. 🤔

If you really need stackoverflow icon, you can create it with https://vue-pixel-art.now.sh/ 👍

[2019-02-21 15:15] BcRikko commented on #230
I think the square is good by default 👍

[2019-02-21 15:15] #230 closed

[2019-02-21 15:18] guastallaigor commented on #299
The only thing I can think of is to use the icon to share your stackoverflow profile by clicking on it.

I've tried to create one once but it didn't look good :smile:, so I dropped it. And then again, I agree with @BcRikko, is not exactly a social icon so is less likely to be used.

[2019-02-21 15:55] BcRikko commented on #299
Oh, I see 👍
I didn't know stackoverflow in detail, because I'm lurker. I have not user on stackoverflow😅

@renantins If you need stackoverflow icon, you can create an icon with the following tool. 🛠
https://vue-pixel-art.now.sh/

[2019-02-21 16:00] BcRikko commented on #273
We might be able to resolve with using the following browser hacks. 🤔
[code]

[2019-02-21 16:04] renantins commented on #299
@BcRikko For share StackOverFlow story https://stackoverflow.com/users/story/join

[2019-02-22 11:02] tomma5o opened #301 "Blurred Borders in Safari"
🖖 Hi I've found an annoying bug in safari
probably is related to #244 and #273

**Describe the bug**
Blurred borders everywhere is used border-image

**To Reproduce**
See the NES website in Safari

**Screenshots**
![screenshot 2019-02-22 at 11 58 21](https://user-images.githubusercontent.com/8134038/53238279-3181d800-3699-11e9-8760-542ed47cc790.png)

**Environment:**
 - Browser: Safari 12.0

**Sug

[2019-02-22 16:06] guastallaigor commented on #273
Closing this because it is fixed by #301.

[2019-02-22 16:06] #273 closed

[2019-02-22 16:07] guastallaigor commented on #301
@tomma5o This is also fixed by #301?

[2019-02-22 16:07] #301 closed

[2019-02-23 03:07] BcRikko opened #304 "Remove Nintendo's character icon"
Nintendo owns the copyright of some pixel art. Therefore, we need to remove some style.

* nes-mario
* nes-ash
* nes-pokeball
* nes-bulbasaur
* nes-charmander
* nes-squirtle
* nes-kirby

However, there are sites that use these.
So it should be deprecated and should be deleted in the near future.

[2019-02-23 09:35] #299 closed

[2019-02-23 15:48] guastallaigor commented on #304
If I can say something about this, I would be against it. I may be biased, because I create a lot of them 😄, but I have a few things to say about this. Note that this is my personal opinion and I don't know much about copyright infringements.

- Even so Nintendo owns the copyright, this is a OSS project available to all, and the icons is no more different than 8bit images/pictures/draws that peopl

[2019-02-24 00:48] BcRikko commented on #304
I understand how you feel. 👍
I know, many sites use pixel arts, and these arts are very attractive.

I read "Nintendo Game Content Guidelines for Online Video & Image Sharing Platforms"
https://www.nintendo.co.jp/networkservice_guideline/en/index.html

It's legal gray areas problem.

"appropriate video and image sharing sites" are YouTube, Twitter,  Twitch, Instagram, Niconico Douga. GitHub is not

[2019-02-24 01:21] guastallaigor commented on #304
Thank you for hearing me out. I've just read the "Nintendo Game Content Guidelines for Online Video & Image Sharing Platforms" and indeed there's some implications there like you've mentioned, but also there's this:

Maybe something like Github was never brought to their attention :thinking: , and they may agree with our kind of "image sharing". But I understand a little more now, and I see that t

[2019-02-24 01:36] guastallaigor commented on #260
To me, leave the colors as it is. I think this comment in issue #5 by @BcRikko applies here:

![image](https://user-images.githubusercontent.com/22016005/53293896-5b332000-37bb-11e9-8f4e-f47c93cea541.png)

[2019-02-24 02:12] BcRikko commented on #304
I see. 👍

But it's difficult for me to completely understand the laws, especially the copyright. :sweat:
Because there are different ways to interpret it.

So let's start with writing notes first. like this:
https://github.com/nostalgic-css/NES.css/pull/292#issuecomment-466722696

[2019-02-25 16:29] vitalitt opened #306 "Markup bug at https://nostalgic-css.github.io/NES.css/"
Dark checkbox example is invisible:
![image](https://user-images.githubusercontent.com/35432215/53352186-fdbde100-392a-11e9-820a-505addb7bba1.png)
after selecting:
![image](https://user-images.githubusercontent.com/35432215/53352213-0adad000-392b-11e9-9b31-442c97a4fb2c.png)

[2019-02-25 19:01] guastallaigor commented on #306
If I can explain myself, It was the fastest way that I did to show the `is-dark` class option inside the code button, when we were refactoring the demo page for v2.0.0 :smile:, I apologize for that.

But I agree this is wrong in many ways. It's fixed in #292, and will be launched in the next release #305.
I will be closing this now but reopen if necessary. Thank you.

[2019-02-25 19:01] #306 closed

[2019-02-26 12:33] #293 closed

[2019-02-26 23:31] lalaithan opened #310 "CodePen icon"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
An icon for CodePen

**Describe alternatives you've considered**
Font Awesome

**Additional context**

[2019-02-27 11:22] BcRikko commented on #293
:tada: This issue has been resolved in version 2.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v2.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-27 14:16] sazzadsazib commented on #310
I think we should split CSS file for some icons that is not much used... suggestions? Else main CSS would be heavy after some time..

[2019-02-27 23:33] lalaithan commented on #310
An idea to consider in regards to keeping the CSS file size under control is to have a brief section explaining how to do it manually.

[2019-02-28 08:17] sazzadsazib commented on #310
We can have separate CSS file for icons like codepen, also can add more icons there. thoughts?

[2019-02-28 13:28] arximughal opened #315 "Made with NES.css"
**Is your feature request related to a problem? Please describe.**

No.

**Describe the solution you'd like**

Create a Made with NES.css section in the README.md

**Describe alternatives you've considered**

Maintain a separate repo to list awesome websites made with NES.css. I'd be happy to help and contrib.

**Additional context**

Like other frameworks, NES.css should also maintain a made with

[2019-02-28 13:41] BcRikko commented on #315
refs #38 #119 #274

[2019-02-28 13:44] BcRikko commented on #315
Thanks for your comment 😆

I commented on #119 as follows.

We are not ready to accept it yet 😭

[2019-02-28 13:44] #315 closed

[2019-02-28 22:28] whiteyhat opened #316 "Broken style of elements in Chrome using CDN"
**Describe the bug**
There is an error to render NES-CSS elements using the latest CDN on Google Chrome. The left side of the elements are not well rendered.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to [Satoshis.Games](https://satoshis.games)
2. View the elements. Buttons and NES - elements
4. See error

**Expected behaviour**
Clean elements without resulting in a visual error on

[2019-02-28 22:39] guastallaigor commented on #316
Maybe ref #271, #244. I will try to reproduce later, because at first the buttons that I'm seeing in Satoshis.Games are fine, but I haven't found those bugs from your screenshots yet.

[2019-02-28 22:55] guastallaigor commented on #310
When we start having a lot more icons, the idea was to move to another project, [NES.icons](https://github.com/nostalgic-css/NES.icons).

The idea back then was to have 8-bit icons, but as SVG, not only as `border-image/box-shadows`.
But had a few issues with that, and the member that was creating the SVG's, I'm not sure if he is still active in this project.

I like this idea to split all icons i

[2019-03-01 20:19] whiteyhat commented on #316
I have updated to the latest version and tested locally.

It seems like the browser was zoomed at 90%, and this caused the issue.

Yeah 👍

[2019-03-02 03:18] #316 closed

[2019-03-02 03:19] #260 closed

[2019-03-02 17:39] kefniark opened #317 "Weird border on chrome android"
**Describe the bug**
On **chrome 72**, everything looks OK on desktop.

![image](https://user-images.githubusercontent.com/4903529/53685305-192a5100-3d5c-11e9-822e-3e977c2b865d.png)

But on mobile, even with the same version of chrome the border looks really bad.

![screenshot_20190303-022400_chrome](https://user-images.githubusercontent.com/4903529/53685308-247d7c80-3d5c-11e9-80b4-f2977977ff1c.jp

[2019-03-02 17:50] kefniark commented on #317
looking at my first screenshot, I noticed something else strange with `<select>` ...

 * on desktop, when I use the fullscreen API, the `<select>` arrow seems to disappear 🤔 (maybe a chrome bug)
 * on mobile the arrow is here but the background color is gray and not white

![image](https://user-images.githubusercontent.com/4903529/53685507-ecc40400-3d5e-11e9-9371-0bc56c23ea1d.png)

[2019-03-03 04:00] virtuoushub commented on #317
I am seeing this on Chromium [Version 72.0.3626.119 (Official Build) (64-bit)] Windows. Seems to be related to **is-rounded** class.

**compare Firefox (left) Chromium (right)**
![compare](https://user-images.githubusercontent.com/4303638/53690755-9b0b8180-3d3e-11e9-84c7-9c44eb7078c1.png)

**Chromium**: https://nostalgic-css.github.io/NES.css/
![compare1](https://user-images.githubusercontent.com/

[2019-03-03 20:22] martinsoender commented on #38
@andreasvirkus @BcRikko @evexoio

First of all thanks for doing this super cool project. I've been trying to find an e-mail to get in touch with any of the core team contributors. But without any luck. Absolutely in love with the old school style.

Saw this post today - so worked out a couple of pages using your components for an example page.   worked a bit on different pages. [View my result her

[2019-03-03 22:49] BcRikko commented on #310
Sry, I'm late... 🙇

I think that the idea of split the icon  into another project is good 👍
But I have no time to do it.

In fact, I wish I accepted the idea of everyone's icon.
But adding just one icon will increase the CSS file size.
So I'd like to accept only relatively important icons for everyone to use.

If you really need to use a new icon, I recommend you to use the following tool to creat

[2019-03-03 22:49] #310 closed

[2019-03-03 23:05] BcRikko commented on #317
ref #244

[2019-03-03 23:33] guastallaigor commented on #317
Maybe #319 fix these kind of bugs :pray: .
But I can't test it in Android Chrome nor Safari :cry:.

[2019-03-04 15:29] guastallaigor commented on #180
I will close this for now because the demo was refactored and LGTM in my opinion.
If we add a lot more components we could do another refactor, but right now it's fine.

[2019-03-04 15:29] #180 closed

[2019-03-04 15:45] guastallaigor commented on #206
I don't think we will accepting this, at least not right now. The idea of the framework is to keep it smaller as possible. See the image below:

![image](https://user-images.githubusercontent.com/22016005/53744075-035f7d80-3e7b-11e9-8094-6f1012e35564.png)

This image is not suited for all components but will give you a general ideia. Sorry about the delay, this issue was misundestood about the mem

[2019-03-04 15:45] #206 closed

[2019-03-04 15:54] deepPhong commented on #244
I'm still having this issue on your demo website, the borders don't scale well to zooming in Chrome (I'm on Ubuntu 18.04)

[2019-03-04 16:06] guastallaigor commented on #244
Yes, I'm sorry about this @deepPhong.
The idea is to fix this issue again in #319.
Ref #317.

[2019-03-04 16:08] deepPhong commented on #244
Oh no I'm fine, I didn't see it was already planned for a fix and just wanted you guys to know. Cheers and keep up the good work

[2019-03-05 10:23] Grovkillen commented on #185
Isn't it simpla as this:
[code]

The "is-left" is used if the start menu should be left aligned or center (depending on the overall container settings).

I use these custom locations and the "is-center-center" makes the start menu locate to screen center:

[code]

As you can see I use CSS variables which will fallback to 10px if not defined. I really would like more frameworks adopted CSS variable

[2019-03-05 10:25] Grovkillen commented on #185
![image](https://user-images.githubusercontent.com/26706274/53798875-6a436c00-3f39-11e9-88ad-99314394acb6.png)

[2019-03-05 17:58] guastallaigor commented on #223
With the new demo site renewed (ref #292), we now have more components and code examples for you to look and copy the code to be used in your website.

And we have a few ways to install NES.css via yarn/npm/CDN and a better documentation in our `README.md`.

For example, after you use yarn you could just import the CSS file in your `main.js`, similar to this:

[code]

Or in your `<style>` tag with

[2019-03-05 17:58] #223 closed

[2019-03-05 18:14] merwok commented on #223
I don’t think that having `node_modules` in deployment environments is a good practice :)

[2019-03-07 16:02] alexd99 opened #322 "Form parts bleed outside of parent container"
**Describe the bug**

When I use one of the form parts (input, select, and text area) the right border bleeds past the edge of its container.

**To Reproduce**

1.  Put a form part inside of a container that has a defined width
1.  Put a background color on the parent container
1.  The right border bleeds past the parent container

I have built a code [sandbox](https://codesandbox.io/s/m616xw62j)

[2019-03-08 15:37] NigelOToole opened #323 "Commit issue with husky"
I have forked NES.css and tried to commit and go the error below. This seems to be a husky issue but the issue is still open. https://github.com/typicode/husky/issues/390

Can't find node in PATH, trying to find a node binary on your system
husky > pre-commit (node v10.15.0)

**To Reproduce**
1. Try to commit with node v10

**Expected behavior**
Commit as usual.

**Screenshots**

**Environment:**

[2019-03-08 15:51] guastallaigor commented on #323
I wasn't able to replicate this bug.
I can commit successfully using Ubuntu 16.04 and 18.04 using node v10.15.2, see screenshot below:

![image](https://user-images.githubusercontent.com/22016005/54039021-adebdf00-41a0-11e9-8ca9-f5744c2fced8.png)

Maybe this is a Mac OSX situation?

[2019-03-09 00:31] BcRikko commented on #323
I could not reproduce it too. 🤔

My env
* macOX High Sierra
* npm: v6.4.1
* node: v10.15.1

Could you check if the PATH of node passes by executing the following command? 🔍
[code]

If the problem does not reproduce could you try reinstalling `node_modules`?
[code]

[2019-03-09 02:18] guastallaigor commented on #223
Hello @merwok. I'm sorry, I didn't saw your comment before.

I have only one small project that is using NES.css which is [Vue Pixel Art](https://github.com/guastallaigor/vue-pixel-art). Right now, using Vue.js I don't need `node_modules` in production, but I need it to generate the `dist` folder. Is this considered bad practice?

If so, I do apologize and I can reopen this issue.
Also, if you wan

[2019-03-09 03:55] #317 closed

[2019-03-11 14:22] merwok commented on #223
Yes a build step makes sense!

`node_modules` exists on developer machines and build environment, you run a command to build stuff to a `dist` directory, which is then deployed and served by the http server.

with that setup the CSS import line could look something like:
[code]

[2019-03-11 15:14] NigelOToole commented on #323
The output from echo $PATH is below and reinstalling node_modules didnt help unfortunately. Could it have anything to do with this issue? https://github.com/typicode/husky/issues/390

/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/X11/bin:/Library/Frameworks/Mono.framework/Versions/Current/Commands

[2019-03-12 04:26] BcRikko commented on #323
Are you trying  to commit using the GUI? (Sourcetree, tower, and so on)
If so, I think this issue is the same problem. 🤔

Could you open GUI Application from terminal?
Then you can read `.bashrc` or `.bash_profile`, so I think you can solve the node path.

[code]

[2019-03-12 16:38] NigelOToole commented on #323
Im using sourcetree and in the .bash_profile I have the below.

[ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

[2019-03-12 22:47] BcRikko commented on #323
Thanks for the information. 🙇
This issue is not a problem of NES.css. so I close it.
If you need help, could you write to husky's issue? 🙏

[2019-03-12 22:47] #323 closed

[2019-03-13 16:23] NigelOToole commented on #323
I understand, thanks for trying. I may create my own repo with the my suggestions at some stage.

[2019-03-22 11:36] runyasak commented on #322
I have PR to fixed this case by width from nes-input to let it stretch to parent tag.
Please, review and see more information from this #326

[2019-03-26 09:53] BcRikko commented on #317
:tada: This issue has been resolved in version 2.1.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v2.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-29 14:07] elbenjaz commented on #38
Hi, nice video,
Could you publish the source code of those templates?
Good job :)

[2019-03-29 15:09] elbenjaz opened #328 "Linked Button text is underlined"
Hi,
First of all, congratulations to all for the good work done here.
This project made me the day :)

I found this minor issue:

**Describe the bug**
When the mouse passes over a link, it shows text decorations (underline)

**To Reproduce**
`
<a class="nes-btn" href="#">Button</a>
`
![before](https://user-images.githubusercontent.com/13787527/55240970-d9e70700-5218-11e9-86ef-69f7fd88f471.png)

**

[2019-03-31 13:25] #328 closed

[2019-04-05 10:23] NigelOToole commented on #323
Hi guys

I have created a repo with the suggested updates to the pixel borders. Its somewhat of a remix of what you have done in NES.css. Please have a look as I hope there are some ideas you guys can use and if I get time I may release as a standalone mixin if thats ok with you.

https://github.com/NigelOToole/pixel-borders
https://nigelotoole.github.io/pixel-borders/

[2019-04-06 10:45] martinsoender commented on #38
Could you publish the source code of those templates?
Good job :)

@elbenjaz I've created repo for the examples shown in the video. You can find it [here](https://github.com/martinsoender/NES.css-examples).
It's pretty basic without any preprocessors. :)

[2019-04-07 23:18] elbenjaz commented on #38
Thanks a lot, it looks great :D

[2019-04-09 09:32] martinsoender commented on #38
@elbenjaz You are very welcome. Will update on occasions :)

[2019-04-15 22:35] rodri042 commented on #7
@BcRikko how can we use that dark-theme from your screenshot?

[2019-04-15 23:15] BcRikko commented on #7
@rodri042 You can use dark-theme with the following code:

[code]
[code]

Some components have `is-dark` class.
So could you check demo page. 👍
https://nostalgic-css.github.io/NES.css/

[2019-04-30 14:11] youngkaneda commented on #74
so what would be better, remove the effect in focus, or add a different focus effect? Since they are the same.

[2019-05-05 00:59] BcRikko opened #331 "NES.css@next"
**Is your feature request related to a problem? Please describe.**

I want a flexible CSS framework using CSS Variables.

**Describe the solution you'd like**

NES.css is inconvenient.
For example, If I want to use NES.css in a **Dark Theme**.
The border color, background-color, etc. are different from the color I'm looking for.

**Describe alternatives you've considered**

[code]

[code]
<img wid

[2019-05-18 14:44] guastallaigor opened #334 "Add select is-dark"
**Is your feature request related to a problem? Please describe.**
Add `is-dark` class to `nes-select`, similar to `nes-input`.

**Describe the solution you'd like**
Add a is-dark class

**Describe alternatives you've considered**
Not adding it or waiting for #331.

**Additional context**
![image](https://user-images.githubusercontent.com/22016005/57971158-a135f500-7960-11e9-83e4-b17c391809f9.png)

[2019-05-18 14:54] guastallaigor opened #336 "Add is-dark input and select inside the documentation"
**Is your feature request related to a problem? Please describe.**
We have `nes-input.is-dark`, but for some reason we don't show it inside the documentation anywhere (e.g. `index.html`). We should add it because we are have the other components `is-dark` example there.
If #334 is accepted, add a `nes-select.is-dark` example as well.

**Describe the solution you'd like**
1. Add a `is-dark` input e

[2019-05-19 23:29] #334 closed

[2019-05-28 22:00] alexd99 opened #339 "Add a way to access the pointer cursor"
**Is your feature request related to a problem? Please describe.**

The feature request is not related to a problem with the framework. With the app, I am building I want to add a pointer cursor on hover, but I can't easily access the pointer cursor that this framework uses.

**Describe the solution you'd like**
An easy way to get access to the pointer cursor that this framework uses. Maybe via a

[2019-05-28 23:17] guastallaigor commented on #339
Yes I had  this problem too and I'm on board with the idea of having an easier way to access the cursor 👍. What do you think @BcRikko?

[2019-05-29 00:12] BcRikko commented on #339
I see. That's true. 🙆‍♂
I agree to provide `nes-pointer` ☝️

Like this? 🤔
[code]
[code]
[code]
---

Here's an article: [Buttons shouldn’t have a hand cursor – Simple = Human – Medium](https://medium.com/simple-human/buttons-shouldnt-have-a-hand-cursor-b11e99ca374b)

I understand this article to some extent. 🤔
However, this is not an issue of the CSS Framework, but an issue for developers.
Please r

[2019-06-01 00:36] #339 closed

[2019-06-01 08:39] thisconnect commented on #331
NES.css shouldn't have a polyfill, if you want to support IE11 you can use something like nextcss or postcss-preset-env to render css variables to support IE11

[2019-06-01 10:51] BcRikko commented on #331
Sure. I agree. 👍

I don't intend to support IE11 on NES.css. 🤔
Because Windows 7 will no longer be supported in 2020. Then, IE11 will disappear from Windows.
If you need to support IE 11, you can use NES.css with polyfill or nextcss, postcss. 😆🔧

[2019-06-04 01:19] #336 closed

[2019-06-04 21:51] guastallaigor opened #345 "Add Ballons dark mode"
**Is your feature request related to a problem? Please describe.**
I propose to create a Balloons `is-dark` class, similar to the other components, because we are missing just a few components that doesn't have the `is-dark` class.

**Describe the solution you'd like**
Something similar to the containers, tables or dialogs.
After creating, add it to the docs as well.
I don't have a draft for this

[2019-06-06 02:13] BcRikko commented on #331
[code]

[code]

![スクリーンショット 2019-06-06 11 08 18](https://user-images.githubusercontent.com/5305599/59001912-6d593b80-884b-11e9-9668-05e5f64895d9.png)

---

It's probably better to specify CSS variables in each element. 🤔
However, the file size of CSS is likely to increase. 😭
[code]

[2019-06-06 05:00] BcRikko commented on #331
### Structure a scss project
Refer to the SASS The 7-1 Pattern.
https://sass-guidelin.es/#the-7-1-pattern

[code]

[2019-06-06 13:39] StefanNieuwenhuis opened #346 "Publish components seperately"
**Describe the solution you'd like**
I want to create a components library with Web Components, that's based on NES.css, but now I have to load the complete library into every component, which is not optimal and results in bulky packages. I would like to see that all components are published as separate (scoped) packages.

**Describe alternatives you've considered**
Include the complete NES.css li

[2019-06-07 02:07] BcRikko commented on #336
:tada: This issue has been resolved in version 2.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v2.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-07 02:07] BcRikko commented on #328
:tada: This issue has been resolved in version 2.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v2.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-07 08:00] BcRikko commented on #331
### 🎨Sharing color theme

[code]

[code]

![reiwa-button](https://user-images.githubusercontent.com/5305599/59089476-294a6180-8945-11e9-916c-37eedfec53a4.png)

[2019-06-07 12:57] youngkaneda commented on #345
@guastallaigor i could do this today if not exist an already PR for this.

[2019-06-07 14:47] guastallaigor commented on #345
@youngkaneda Great, thank you :smile:. I don't think there's anyone working in this at the moment, so no PRs :+1:

[2019-06-11 01:51] BcRikko commented on #74
I agree 👍

---

I splitted the focus and hover styles. ✂️

![focus](https://user-images.githubusercontent.com/5305599/59237792-745ec000-8c36-11e9-843f-f0dd3dfa74ee.gif)

[code]

[2019-06-11 17:28] youngkaneda commented on #74
a simple and great solution

[2019-06-11 18:07] youngkaneda commented on #331
I just disagree with this idea because this allows users use colors that do not fit the nes palette. If i understood right, maybe i'm wrong, this can be used to make components with custom colors.

[2019-06-22 14:49] #304 closed

[2019-06-22 14:50] #265 closed

[2019-07-04 06:46] BcRikko commented on #331
Since there is a possibility of conflict CSS Variable names, it's better to prefix variable names. 🤔

[code]

Avvreviations such as `bg` increase the recognition load, so formal property names are better. 👍

[2019-07-07 05:46] BcRikko commented on #346
Thanks 👍

We publish the two files. 📦

* nes-core.css (nes-core.min.css)
   * only component styles
   * about 50KB
* nes.css (nes.min.css)
   * included pixel icons and pixel arts.
   * about 280KB

If you use scss, you can import components like `@import "~nes.css/scss/elements/buttons.scss";`. 🤔

[2019-07-07 19:31] StefanNieuwenhuis commented on #346
I'm gonna try it out! Thanks.

[2019-07-11 11:00] #74 closed

[2019-07-23 22:53] smonette opened #353 "Add default (arrow) cursor"
The current default/auto cursor is being confused as a `cursor: pointer`. Users are expecting things to be clickable when they see the "hand".

Would be helpful to have a stylized arrow cursor as an option. Thanks!

[2019-07-24 01:48] BcRikko commented on #331
### Why use CSS Custom Properties(CSS Variables)

NES.css is often loaded via the CDN. So many users don't use the Sass variables.
I thought CSS Custom Properties would be the best way to be able to change the theme freely even if it was read via the CDN. 🛠

[2019-07-24 03:28] BcRikko opened #354 "Development documents with another CSS Framework"
**Is your feature request related to a problem? Please describe.**

NES.css doesn't contain layout styles. This puts a burden on developers.
So I think it will be easier to use NES.css with another CSS framework. (e.g. Tailwind CSS)

**Describe the solution you'd like**

Add development documents using another CSS framework

**Example**
[code]

[2019-07-24 07:58] BcRikko commented on #284
It would be nice to have a tool like this. 😆
https://codepen.io/bcrikko/full/OKNjRQ

[2019-07-24 07:59] BcRikko commented on #346
ref #284

[2019-07-24 07:59] #346 closed

[2019-07-29 19:31] hovi commented on #345
Hey guys, any progress on this?

[2019-07-29 19:34] guastallaigor commented on #345
I'm not sure. I haven't tried anything myself.

[2019-08-08 06:19] BcRikko commented on #353
I agree 👍

Does anyone draw a cursor? 🤔

* Image size is 32px x 32px
* Cursor written with 16x16 pixels. like this [cursor-click.png](https://raw.githubusercontent.com/nostalgic-css/NES.css/aedde05434466153ecc34e778cff25bcebca50e7/assets/cursor-click.png)

[2019-08-11 04:02] astronouth7303 opened #356 "Support HTML Form Validation pseudo-classes"
**Is your feature request related to a problem? Please describe.**

Currently, the `.is-success` and `.is-error` styles are not triggered by `:valid` and `:invalid`

**Describe the solution you'd like**
`.nes-input:valid` and `.nes-input:invalid` should be aliases for `.nes-input.is-success` and `.nes-input.is-error`.

**Describe alternatives you've considered**
* JS library, which is unnecessary

[2019-08-14 03:43] BcRikko commented on #356
I like HTML5 validation ❤️
So I think this idea is good 👍

But, Input fields always take the state `:valid` or `:invalid`.
Therefore, we will not be able to use the default color. 😭
So we can't meet your request. 🙇

[code]
[code]
![nesinput](https://user-images.githubusercontent.com/5305599/62992957-70e2f180-be90-11e9-99be-7fee0f6630e5.gif)

[2019-08-14 03:43] #356 closed

[2019-08-16 05:15] BcRikko commented on #331
Proposal repository 🛠
https://github.com/BcRikko/NES.css-proposal

[2019-09-30 12:38] BcRikko commented on #74
:tada: This issue has been resolved in version 2.2.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v2.2.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-08 18:02] AdrianJVillalobos commented on #8
Is this issue still active? I would like to take this at @NovaHelm

[2019-10-08 19:41] guastallaigor commented on #8
I don't think so @AdrianJVillalobos.
But I mean I only tested it in my IOS so I can't verify that is working in every IOS there is 🤔
I think the #350 PR fixed it for at least the most
Sorry for the active issue, I will close it for now but if anyone find a bug in their IOS this issue can be reopen, or can open a new one.

[2019-10-08 19:41] #8 closed

[2019-10-08 19:48] AdrianJVillalobos commented on #8
@guastallaigor I understand, thanks for answer my comment!

[2019-10-09 03:47] BcRikko commented on #331
I want to use [dart-sass](https://github.com/sass/dart-sass). 😎
Because We can use New Sass Module System(`@use` and `@forward`).

## 📚 Examples

### `@use`

[code]

[code]

### `@forward`

[code]

[code]

[code]

[2019-10-09 18:17] thisisabhinay commented on #322
Since, PR https://github.com/nostalgic-css/NES.css/pull/327 is waiting for contributor since April. I've fixed the issue as per suggestion by @BcRikko .

[2019-10-09 18:27] thisisabhinay commented on #232
No update since February. So, I would like to work on it now. @iammarkps

[2019-10-09 18:38] guastallaigor commented on #232
I can't confirm if anyone is still working on this, so I think you can start if you want @thisisabhinay 👍

[2019-10-10 02:18] #38 closed

[2019-10-10 03:18] #322 closed

[2019-10-10 08:09] andreasvirkus commented on #38
I know #119 mentions that we'd to list a minimum of 5 sites using NES.css, so I'm just adding one to the list - Twilio's [Open Pixel Art]https://open-pixel-art.com/) project uses us! 🎉

[2019-10-10 23:44] thisisabhinay commented on #232
@guastallaigor @iammarkps @BcRikko
This one is difficult. I don't think the solution to this problem is only CSS based. One way to solution is setting `border-collapse` property of the `.is-bordered` table to `collapsible` but then it defeats our whole purpose of setting the **corner** of table (in fact any bordered container) like this:
<img width="87" alt="Screenshot 2019-10-11 at 5 02 55 AM" sr

[2019-10-11 00:44] mbostwick opened #365 "Approval From Nintendo ?"
**Is your feature request related to a problem? Please describe.**
The usage of this in anything that would be cool would likely be at risk if Nintendo decided to take issues with the icons

**Describe the solution you'd like**
A separation for things that may be someones IP.

**Describe alternatives you've considered**
Getting approval from Nintendo

**Additional context**

[2019-10-11 01:12] guastallaigor commented on #365
We had a discussion about it in #304.
We looked into some of the Nintendo's guidelines. I've to say, most of them were not very clear regarding how we are using their characters, a lot of grey areas, and so we decided back then to just let the users know with this note:

I'm not really sure if getting a direct approval from Nintendo is something realistic. From what I've read back then, people jus

[2019-10-11 01:29] mbostwick commented on #365
The general rule of thumb is the copy writer holds control whats ok and whats not. I agree its unlikely we would get approval from Nintendo.

I wanted to make a fun little chrome app with this css but I didn't want to risk a cease and desist.  I figured a good idea would be to route an issue.

I don't think your breaking any rules with the fonts or colors. I do think the icons are likely to get a

[2019-10-11 07:47] thisisabhinay commented on #354
@BcRikko I'll try to document the integration of the bootstrap grid system with NES.css. Please tell me if something more is needed?

[2019-10-11 18:40] HiKaylum commented on #345
I have created a PR for this.

Also sorry for the ref comments 😅ran into branching / commit issue due to being a spud!

[2019-10-11 19:15] HiKaylum commented on #353
I'll take this one 😄

[2019-10-15 12:36] #345 closed

[2019-10-16 05:38] BcRikko commented on #354
@thisisabhinay Thanks 😆
I want a small and simple sample. For example, the following cards and forms:

# with Bootstrap

## Card
https://getbootstrap.com/docs/4.3/components/card/
[code]
![スクリーンショット 2019-10-16 14 30 50](https://user-images.githubusercontent.com/5305599/66890589-953e8400-f021-11e9-8677-323dec946aa6.png)

## Form
https://getbootstrap.com/docs/4.3/components/forms/
[code]
![スクリーンショット

[2019-10-20 16:19] Flip32 opened #374 "License"
Hi, I've just used this, in a new project. It's just for learning, but I let my friends used too.
I'd like to know if I have to put something inside my project, like a link to your repository or if I have to say that it's not belong to me, or something like that.

[2019-10-20 20:06] guastallaigor commented on #374
Hello. This project follows the [MIT](https://github.com/nostalgic-css/NES.css/blob/develop/LICENSE) License.
In my opinion, other than that, you can put a reference to NES.css if you want, but you don't have to.

I will keep this issue open for a while if anyone else would like to say or add anything else to this 👍

[2019-10-21 11:27] BcRikko commented on #374
@guastallaigor , I agree with you 👍

@Flip32 Enjoy using NES.css 🎮
And if you think NES.css is a good product, I would apprecate it if you could recommend it to everyone around you. 😆

[2019-10-21 11:27] #374 closed

[2019-10-29 07:20] lucasjs opened #375 "Fix bad contrast in colors"
**Is your feature request related to a problem? Please describe.**
When you try to check the audits, Lighthouse says that almost all colors have a bad contrast:

<img width="551" alt="Screen Shot 2019-10-29 at 04 14 10" src="https://user-images.githubusercontent.com/14945222/67745390-e0359f80-fa02-11e9-94bb-fc337614755a.png">
<img width="296" alt="Screen Shot 2019-10-29 at 04 14 25" src="https://u

[2019-10-29 15:20] guastallaigor commented on #375
I looked into it a while back, but the main reason is because of this issue #27.
Another issue to reference is this #260.
So, right now the project is using the actual NES color palette.
Of course when put into the browser and in the context of a11y, the colors doesn't look very good, but I'm not sure if changing the colors to prioritize a11y over using the actual NES color palette is a good choic

[2019-10-29 21:45] lucasjs commented on #375
Prioritize a11y is always a good choice. It's not for google or any company, but for color blind users.
https://medium.com/@matuzo/writing-css-with-accessibility-in-mind-8514a0007939

These issues have nothing with a11y, but just about design.
There are a lot of project that look so much better with accessible colors.

[2019-10-31 02:59] BcRikko commented on #375
@guastallaigor Thanks for your response 😆👍

I was also aware of this issue when I improve the performance of the demo page.
I think accessibility is important. 👍

However, many sites use NES.css via the CDN, so we have to be careful about changing colors. 🤔
It would be better to change the color so that the appearance doesn't change much, but it's difficult. 😭

Please let me think about how to dea

[2019-10-31 04:55] lucasjs commented on #375
@BcRikko LGTM! I can make some changes and open a WIP Pull request.

[2019-11-01 01:37] BcRikko commented on #365
I asked Nintendo about the copyright of the character contents.(Mario, Pokémon, Kirby)
But I didn't get a clear answer.

Nintendo responded, "Consult a lawyer or professional. We don't license character contents to individuals.".
In addition, it's said that [Nintendo Game Content Guidelines for Online Video & Image Sharing Platforms](https://www.nintendo.co.jp/networkservice_guideline/en/index.htm

[2019-11-05 01:17] merwok commented on #353
This would be nice :slightly_smiling_face:

[2019-11-05 01:22] merwok commented on #284
I think the npm distribution could contain everything, but then people would be able to choose what they import (core, icons, etc) and the builder (webpack) would only include the needed bits in the final bundle, so you would get both convenience and performance :sparkles:

[2019-11-05 01:38] merwok opened #377 "Container with rounded corners and title has bad position"
**Describe the bug**
On firefox, container rounded with title has an unwanted border.

**To Reproduce**
[code]

**Expected behavior**
Get a container with rounded corners + title displayed interrupting the top border.

**Screenshots**

![container-rounded-title](https://user-images.githubusercontent.com/635179/68171536-2a0e1080-ff42-11e9-9cea-db24c36f92ea.png)

Testing on demo site does not show t

[2019-11-06 05:20] BcRikko commented on #365
I consulted the legal department of our company just now.

This is not good news. 😱
They said we infringed violating Nintendo's copyright.

I'd like to propose the following measures.

* Remove as soon as possible Nintendo Characters from the demo page
* But Don't remove them from the source code. (because it's a breaking change.)
* Completely remove them in the next version.

👋 😢

[2019-11-08 01:14] mbostwick commented on #365
I think there's a lot of coolness to this project. I think having the Nintendo icons is also not a terrible thing, my suggestion is having it so its possible to sub out the things that would cause trouble with using this project, so using the styles isn't legally risk,  with something like scary terry (see how he got his name if your not sure what I mean) .

I think that could also help draw users

[2019-11-21 02:30] BcRikko opened #378 "Integrate Circle CI and GitHub Actions"
**Is your feature request related to a problem? Please describe.**

GitHub Actions is available. 🚀

**Describe the solution you'd like**

I want to release NES.css automatically with `cron` of GitHub Actions. 📆

**Describe alternatives you've considered**

**Additional context**

[2019-11-27 09:14] Takumi0901 opened #379 "Recommended environment for CONTRIBUTING.md"
**Describe the bug**

Setup error when using node v13.x
If I tried node v12.x or below, setup is complete.
I wanted to describe the recommended environment for node and npm.

**Environment:**
 - OS: Mac OSX
 - Browser:
 - Build environment (i.e. NodeJS): node v13.2.0

[2019-11-27 09:21] BcRikko commented on #379
Thanks for your report 🙇

I agree with writing a Node version on CONTRIBUTING.md. 👍
As I confirmed with node 10.x and 12.x version, I want to change the package.json as well.

ref #367

[2019-11-29 11:10] HiKaylum opened #381 "Storybook Enhancement"
**Is your feature request related to a problem? Please describe.**
Not a problem. We are using Storybook but not to its full potential.

**Describe the solution you'd like**
I want to clean up how we are currently implementing Storybook split the HTML markup and story, implement the Docs and Accessibility plugins and general clean up.

**Describe alternatives you've considered**
Not do it ¯\_(ツ)_/

[2019-11-29 11:10] HiKaylum commented on #381
Assign to me

[2019-12-06 02:00] BcRikko commented on #331
CSS nesting in a framework may not be good? 🤔

For example
[code]

[code]

[code]

[2019-12-14 14:17] HiKaylum commented on #381
I'm going to split this issue into tasks and do them in separate PRs as the current one is getting pretty large.

- [ ] Initial Refactor
- [ ] Branding & Accessibility
- [ ] Snapshot Testing
- [ ] Documentation

[2019-12-14 14:30] HiKaylum opened #384 "Select `is-dark` is Missing States"
**Describe the bug**
The select component is missing the states `is-error`, `is-warning` & `is-success` when `is-dark`.

**To Reproduce**
1. Add
[code]
2. Try add a class `is-error`, `is-warning` or `is-success`

**Expected behavior**
Select should show select state when `is-dark`.

**Screenshots**
N/A

**Environment:**
N/A

**Suggestion(s) for fixing this issue**
N/A

**Additional context**
N/A

[2019-12-14 15:58] HiKaylum commented on #384
Found the issue, have a PR will wait till #385 goes through.

[2019-12-17 12:09] BcRikko commented on #322
:tada: This issue has been resolved in version 2.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nes.css)
- [GitHub release](https://github.com/nostalgic-css/NES.css/releases/tag/v2.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-17 12:48] BcRikko commented on #246
ref #389

[2019-12-17 12:48] #246 closed

[2019-12-20 10:09] stuta opened #392 "yarn upgrade fails"
**Describe the bug**
yarn upgrade fails

nes.css@2.3.0: The engine "node" is incompatible with this module. Expected version "10.x". Got "13.5.0"

**To Reproduce**
yarn upgrade-interactive --latest

[2019-12-20 11:12] BcRikko commented on #392
ref #379

[2019-12-22 15:20] HiKaylum commented on #384
Reopening, Closed it and the PR due to confusion.

[2019-12-23 09:44] stuta commented on #392
I think you should change package.json:

 "engines": {
    "node": ">=10.0.0"
  },

[2019-12-23 09:56] BcRikko commented on #392
We received an [issue](#379) that says it would cause an error in version 13, so I think `"node": ">=10.0.0 <13.0.0"` is better 👍

[2019-12-23 10:04] stuta commented on #392
I can't see what is the setup error in #379. I had no setup errors with Node 13 before this engine change.

And if there is some error then instead of making this unusable with node versions 13.0 - 13.5 maybe the right solution is to make it compatible with 13?

[2019-12-23 10:08] BcRikko commented on #392
Sorry, I didn't try to install with node 13.
If there are no errors with node 13, I agree to the comment you have suggested. 👍

[2019-12-27 18:44] #384 closed

[2019-12-28 18:26] virtuoushub commented on #392
**tl;dr** try `yarn install --ignore-engines`

_longer comment_

Using node v12.14.0 (npm v6.13.4), I was able to build the project as it is in the master branch.

Using node v13.5.0 (npm v6.13.4) I ran into the following issue while building this project as it is in the master branch. The issue is `node-sass` related [ see <https://github.com/sass/node-sass/releases/tag/v4.12.0> ]):

[code]

~~In

[2019-12-30 17:33] Bradley-H commented on #365
Any ETA on the next version?

[2020-01-27 10:59] dbarwikowski opened #395 "List in dark containers look bad"
**Describe the bug**

In a dark container lists look bad. Cannot see discs

**To Reproduce**

Make a list in a dark container

**Expected behavior**

List would have white disc in dark containers

**Screenshots**

![image](https://user-images.githubusercontent.com/20668422/73169304-12d35f00-40fc-11ea-8463-b8001d083c6f.png)

**Environment:**
 - OS: Windows
 - Browser: Brave
 - Build environment (i.

[2020-01-29 00:43] #395 closed, assigned to guastallaigor

[2020-02-05 20:25] HiKaylum commented on #381
Still working on this :) just hard finding the time with work :P

[2020-02-05 20:27] guastallaigor commented on #381
No problem 😄. Take your time!

[2020-02-10 20:22] ghost opened #397 "No styles for list disks/circles on a dark background"
Hey! I like your library a lot. But I noticed a little problem (at least for me)
**Is your feature request related to a problem? Please describe.**

List disks don't have an option to be placed on a dark bg, cause they are always dark.
**Describe the solution you'd like**

Please, add white disk lists :)
**Describe alternatives you've considered**

**Additional context**

[2020-02-10 20:37] guastallaigor commented on #397
Hello @ellenripley4.
I think this is a duplicated from #395 which was fixed on #396 in our `develop` branch, and will be available in the next release.
Please, take a look and if you have any questions or additional suggestions, just let me know.
Thank you.

[2020-02-10 20:37] #397 closed, assigned to nobody

[2020-02-11 11:23] ghost commented on #397
Thanks @guastallaigor for pointing this out!

[2020-02-21 09:05] luengwaiban opened #398 "can this project support chinese character？"
**Is your feature request related to a problem? Please describe.**
First of all, my english is not good so if anything below offense you, forgive me ...
I am a chinese developer，and I found there's no chinese character supported. So I am here to request support.

**Describe the solution you'd like**
Support the chinese chatacter like jp chatacter.....

**Describe alternatives you've considered**
n

[2020-02-21 09:13] BcRikko commented on #398
No problem 👍

So if you know any 8-bit like Chinise fonts and would like to recommend it to other Chinese developers, Please let me know the font.

And if you can, please update README.md and send us a Pull Request. 🙏

[2020-02-21 09:42] luengwaiban commented on #398
@BcRikko yes you can checkout this link and download the chinese font in pixel art style

https://en.fontke.com/font/20173482/

But I am not sure weather it is 8-bit or not. And I am not good at css, too.   Really sorry for that....

[2020-02-27 19:56] gromovadarya90 opened #399 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-03-15 00:34] #398 closed, assigned to nobody

[2020-03-15 00:35] guastallaigor commented on #398
Closing because of #406

[2020-03-16 21:19] guastallaigor opened #409 "Change the development flow in NES.css"
**Is your feature request related to a problem? Please describe.**
I think we should change a little bit the way we are doing things in Git/Gitflow/Release in NES.css.
In my opinion, we should be a little more close to what [Vuetify](https://vuetifyjs.com/en/getting-started/quick-start/) does.
To be more specific, this right here:

Like we are getting a few documentation updates, that should be al

[2020-03-17 12:58] #379 closed

[2020-03-17 12:58] #392 closed, assigned to nobody

[2020-03-25 10:07] GreXLin85 opened #411 "Vertical Centering Support"
Hello I want to make my `nes-container` vertical centered. I tried `vertical-align: middle;` but nothing changes, what can I do?

[2020-03-25 10:30] BcRikko commented on #411
Sorry. I can't give you an answer because I don't know your situation in detail.
For general CSS tips, try using a flexbox. 👍

[code]
[code]

[2020-03-25 10:30] #411 closed, assigned to nobody

[2020-04-03 23:14] omurilo opened #412 "Feat/adding Discord icon"
**Is your feature request related to a problem? Please describe.**

Yes, today I had the need to add the discord icon to my project but it didn't exist on nes.css. Discord is the most popular platform to gamers and developers community, why NES.css haven't that icon?

**Describe the solution you'd like**

I don't want a solution, i have a solution.

**Describe alternatives you've considered**

I'v

[2020-04-08 09:57] doliG opened #414 "Cannot install nes.css with latest node versions"
**Describe the bug**
[code]

**To Reproduce**
1. Install node > 13
2. Try to install nes.css via yarn

**Expected behavior**
The installation works.

**Environment:**
 - OS: MacOS Mojave
 - Build environment (i.e. NodeJS): Node 13

**Suggestion(s) for fixing this issue**
Well, I manage to install nes.css with downgrading my node version to 10.19.0. However, this is not a fix, but a workaround.

Lo

[2020-04-08 10:20] BcRikko commented on #414
Currently, NES.css is using `node-sass@4.12.0`. The reason you can't install NES.css is in `node-sass`. (https://github.com/nostalgic-css/NES.css/issues/392#issuecomment-569440614)

Yeah 👍
I'd appreciate it if you could send a PR to this repository.
Probably just upgrading the version of `node-sass` to `4.13.x`. 🤔

[2020-05-01 16:34] candywater commented on #414
Small problem but a little different

Cannot install nes.css via yarn, node version is 12.13.0
but can install nes.css via npm, node version is 12.13.0

here is yarn __error__ message
[code]

here is npm **warning** message
[code]

[2020-05-06 13:12] doliG commented on #414
@candywater Thanks for the informations. This is, indeed, weird.

Maybe yarn and npm have different strategies to handle _unsupported engine_, where yarn raise an error and stop, npm just show a warning and try to do it anyway 🤔

[2020-05-09 10:38] ghost commented on #414
same problem

[2020-05-09 22:10] virtuoushub commented on #414
@doliG / @candywater yes `yarn` is a bit more strict in that it will bomb w/ unsupported engines by default.

To get around this you can use: [`yarn install --ignore-engines`](https://classic.yarnpkg.com/en/docs/cli/install/#toc-yarn-install-ignore-engines).

[2020-05-19 15:10] SecretBase opened #419 "Table dark mode pseudo element blocking users interaction"
**Describe the bug**
Table dark mode pseudo element blocking users interaction

**To Reproduce**
1. Open storybook
2. Go to table and click `.is-dark` checkbox
3. Modify the `story/table/table.template.js` as below
[code]
4. The first input can't be interact (focus)
5. the `<p>` tag text can't be select

**Expected behaviour**
the users should can interact with the ui such as selecting the text, f

[2020-06-02 17:32] #414 closed, assigned to nobody

[2020-06-02 18:52] #419 closed, assigned to nobody

[2020-06-02 21:16] jordanellis opened #427 "Icons render wrong when you zoom in and out on Chrome"
**Describe the bug**
When you zoom in on a page that has icons from nes.css on it, the icons begin to show with white grid lines in between them as if the squares used to make them aren't touching anymore.

**To Reproduce**
1. Go to https://nostalgic-css.github.io/NES.css/ and view the icons.
2. Zoom in (and out at different percentages) on the browser.
3. View icons rendered with gaps.

**Expecte

[2020-06-03 13:05] SecretBase commented on #427
I think that kind of rendering bug on the browser when using box shadow as a pixel art

https://codepen.io/louflan/pen/mdJKRWN

I tried others people pixel art using same box shadow trick. also having the same problems.

I guess that just some weird browsers render bug. IMHO there nothing a framework can do about it. unless change those pixel art not using the box shadow trick.

Mac chrome at 110%

[2020-06-03 13:09] guastallaigor commented on #427
Yes, that's exactly what I thought. I saw this bug before, but I couldn't do anything about it.
That's why I put the "help wanted" label :smile:

[2020-06-05 13:03] HiKaylum commented on #427
May be possible converting these to SVGs rather than using box-shadow but will have to look into it and would be a breaking change.

[2020-06-23 00:52] trezy commented on #331
I wanted to revive this conversation since not much has happened with it in more than six months.

I think NES.css is a great idea, and I wholly support the idea of moving to CSS variables. I think there are a couple of other techniques I've learned doing CSS-based pixel art over the past couple of years that we could dig into.

## `clip-path`

The CSS `clip-path` property can be used to make some

[2020-07-02 15:54] trezy opened #431 "Update the docs to mention both builds"
Currently, the docs don’t make significant mention of the `nes-core` build. We should update the docs (README, website) to mention that build. It would also be helpful to reference how to use NES.css with NES.icons, since it’s clear from [this issue](https://github.com/nostalgic-css/NES.icons/issues/1) that it’s a very unclear process.

[2020-07-09 05:34] michaelmano opened #432 "The use of SNES controller for NES.css"
Your logo is a super nintendo controller for a library named nes, not really a bug but a valid point.

[2020-07-09 06:57] BcRikko commented on #432
ref #5
ref #32

For these reasons, I used icon like SNES Controller on NES.css logo.

[2020-07-09 06:57] #432 closed, assigned to nobody

[2020-08-01 03:57] dudenamedjune opened #434 "No longer needed in chrome and causes actual pixel to be spaced apart"
https://github.com/nostalgic-css/NES.css/blob/b7b978b8c321f3f996382414e54412802a0197cb/scss/utilities/rounded-corners-mixin.scss#L19

[2020-09-11 10:40] stanleynguyen commented on #434
+1

[2020-10-05 15:18] guastallaigor opened #441 "Update documentation about adding new icons"
**Is your feature request related to a problem? Please describe.**
We are getting PRs about adding new icons, and we are not accepting those, because of the bundle size.

References:
- https://github.com/nostalgic-css/NES.css/pull/410#issuecomment-601461677
- https://github.com/nostalgic-css/NES.css/issues/310#issuecomment-469073437

Most contributors creates new PRs **without** opening issues fir

[2020-12-14 04:12] jcchikikomori opened #443 "Glitch on non rounded-areas"
**Describe the bug**

Glitch on non rounded-areas. Occurs only on Chromium-based browsers

**To Reproduce**
1. Go to my site (https://jcchikikomori.github.io/portfolio)
2. Then wait for my content to load, and voila!

**Expected behavior**

Rounded NES container with straight lines on non-rounded areas

**Screenshots**

![Screen Shot 2020-12-14 at 12 01 26 PM](https://user-images.githubusercontent

[2020-12-14 21:27] guastallaigor commented on #443
ref #438
#434

[2020-12-16 23:36] shadowtime2000 opened #444 "soph-iest Picture Missing"
**Describe the bug**
On the website the browser logs a 404 because it can't find `soph-iest`'s pfp.

**To Reproduce**

Go to the website. Open developer tools.

**Expected behavior**
`soph-iest`'s pfp to appeaar or something.

**Screenshots**

![image](https://user-images.githubusercontent.com/66655515/102419225-38878200-3fb4-11eb-924c-2ab1e2e18675.png)

**Environment:**
 - OS: Windows
 - Browser:

[2020-12-18 04:54] guastallaigor commented on #444
Hello. I think the account was deleted indeed, or at least changed the URL (not sure).
I'll leave the issue open to remember to update the contributors in a near future 👍

[2020-12-19 08:30] shadowtime2000 commented on #331
I don't know what your plan is [but this simple function to make accessing CSS variables easier to read/write](https://dev.to/meduzen/write-css-variables-faster-in-scss-1mon) could possibly help.

[2021-01-31 23:19] makew0rld opened #447 "Pixelated image rendering doesn't work on Firefox"
Follow up from #259.

**Describe the bug**

Using `image-rendering: pixelated` doesn't work on Firefox, but it's recommended on the home page.

**To Reproduce**

Look at the home page avatars on Firefox.

**Expected behavior**

It renders as pixelated.

**Screenshots**

![image](https://user-images.githubusercontent.com/25111343/106401145-88999700-63f0-11eb-88b9-1026ebf4b3bd.png)

**Suggestion(s)

[2021-01-31 23:24] SteveC opened #448 "favicon etc are SNES not NES controllers?"
https://github.com/nostalgic-css/NES.css/blob/develop/docs/favicon.png

looks more like a SNES controller than a NES controller?

:-)

[2021-01-31 23:27] SteveC commented on #448
Opps, duplicate of  #432

[2021-01-31 23:27] #448 closed, assigned to nobody

[2021-02-01 01:35] Ruedii commented on #447
For me it isn't quite that blurry but still antialiases.

I suspect rendering varies by platform and video drivers.

[2021-02-02 00:25] RickMeasham commented on #447
This issue looks like it will be fixed by PR https://github.com/nostalgic-css/NES.css/pull/446

[2021-02-02 09:08] dgrcode commented on #72
It seems `-webkit-font-smoothing: none;` doesn't break the styles in Safari, at least in v13.1.1 which I just tested.

In Safari there's very little difference between `none` and `antialiased`, but I see a significant different in Chrome. With `none` it's sharper and cleaner (in my opinion).

Just in case you wanted to reconsider using `-webkit-font-smoothing: none;`

[2021-02-15 03:59] Steve245270533 opened #450 "about polyfill"
The document does not explain in detail how browsers other than chorme use Polyfill

[2021-03-03 14:13] blfunex opened #452 "Package engine "Node >= 10.0.0" causing installation problem in Node 15.4.0"
**Describe the bug**
Can not install with node 15.4.0 using yarn.

**To Reproduce**

Get node 15.4.0, install yarn 1.22.5, then
[code]

**Expected behavior**
NES.css installs correctly

**Screenshots**
![image](https://user-images.githubusercontent.com/11468624/109817856-aeee6480-7c32-11eb-9c6a-6d05341af5ae.png)

**Environment:**
 - OS: Windows
 - Browser: N/A (not a concern)
 - Build environment

[2021-03-10 17:40] lukbukkit commented on #452
This problem has already been fixed by #418 but has yet to be published. It would be nice if a new version could be released on NPM.

[2021-03-11 17:22] NQUARE opened #453 "Simple cool improvements for the project!"
Hi!
I want to suggest some interesting and easily implemented (already made by me) improvements.
And so the first thing is the smoothness of the animation of pressing the button, it seems to me that when you click on the button, there is no return, so I tried to add ```transition:. 08s;``` and it turned out very cool. It feels like the button is actually being pressed and the shadows are not chang

[2021-04-03 08:15] srknzl opened #455 "Visual glitch in non-rounded dark dialog"
**Describe the bug**
Visual glitch in dark dialogs (not rounded ones)

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://nostalgic-css.github.io/NES.css/
2. Click on "open dark dialog"
3. See glitch

**Expected behavior**

**Screenshots**

how it is right now:

![image](https://user-images.githubusercontent.com/32355782/113472666-66160f80-946d-11eb-9e71-dd34940a3705.png)

what it

[2021-04-04 00:40] gabrielgaraujo commented on #452
@LukBukkit  How can I `yarn add` using the develop branch?

**UPDATE**
I've sorted it out, since I'm using it only for a local prototype I've used [`yarn link`](https://classic.yarnpkg.com/en/docs/cli/link/)

Steps to set it up locally:
[code]

[2021-04-07 08:53] lukbukkit commented on #452
Sorry for the late answer. I'm using [`yarn install --ignore-engines`](https://classic.yarnpkg.com/en/docs/cli/install#toc-yarn-install-ignore-engines) to install the dependencies for my project. To add the package you can edit the `package.json` file by hand.

[2021-04-30 01:46] makew0rld commented on #447
[code]

This supports Firefox, Chrome, Opera, Safari, and IE8+. All the ones I mentioned originally weren't needed. This is what #446 does, although it has an additional line for really old (unneeded IMO) Safari support.

[2021-04-30 01:46] #447 closed, assigned to nobody

[2021-05-08 08:56] loo41 opened #456 "Form component disable style"
Hi!
I want to add a disable style to the form component to match the disable properties of the form

For Example

<img width="975" alt="截屏2021-05-08 下午4 56 10" src="https://user-images.githubusercontent.com/28095677/117533243-51093f00-b01e-11eb-8d0f-eb4529a7fb92.png">

<img width="976" alt="截屏2021-05-08 下午4 56 00" src="https://user-images.githubusercontent.com/28095677/117533247-55cdf300-b01e-11eb

[2021-05-12 15:44] loo41 opened #459 "Custom theme"
https://github.com/nostalgic-css/NES.css/blob/444faf05d1427c007e3aab24ba8441c84c6c04ab/scss/base/variables.scss#L8

**Describe the bug**

## When I try to use a custom theme

**To Reproduce**
[code]
<img width="1324" alt="截屏2021-05-12 下午11 19 12" src="https://user-images.githubusercontent.com/28095677/118000550-7e385300-b378-11eb-89dd-b9082c7d90da.png">

**Expected behavior**
## When I remove this

[2021-05-14 01:01] guastallaigor commented on #453
Hello @NQUARE, thank you for your issue and all your suggestions.
To be honest with you, we are not working actively on this project for a while now.
I've been trying to maintain it from time to time, however I don't have access/authorization to accept new features or publish new releases.
So for now, I do apologize, but I don't think there's much we can do here.
Thank you again.

[2021-05-14 01:45] loo41 commented on #456
sucesss merge

[2021-05-14 01:45] #456 closed, assigned to nobody

[2021-05-15 09:21] loo41 opened #460 "radio"
**Describe the bug**
<img width="349" alt="截屏2021-05-15 下午5 14 35" src="https://user-images.githubusercontent.com/28095677/118355146-30526380-b5a1-11eb-9792-3781d36ae7a4.png">

radio before element position not center

**To Reproduce**
change radio children font-size

**Expected behavior**
radio before is center

**Screenshots**
<img width="235" alt="截屏2021-05-15 下午5 19 02" src="https://user-image

[2021-05-17 01:38] #460 closed, assigned to loo41

[2021-05-23 05:40] loo41 opened #462 "NES.css react component library"
**Is your feature request related to a problem? Please describe.**
NES.css better use

**Describe the solution you'd like**
Provide a set of component library

**Additional context**
[NES-design](https://github.com/loo41/NES-design),

[2021-07-12 11:51] tank3a opened #464 "Adding Korean translation of CONTRIBUTING.md"
I found there are no documentations translated in Korean, and if I can, I'll be willing to contributing on making ko-translated documents, starting from CONTRIBUTING.md.

[2021-07-12 12:58] guastallaigor commented on #464
Hello @tank3a , thank you for your message.
To be honest with you, we are not working actively on this project for a while now.
I've been trying to maintain it from time to time, however I don't have access/authorization to accept new features or publish new releases.
So you could create it, however I could only merge it to the `develop` branch, and not sure when we could merge it to `master`.
I d

[2021-07-13 02:34] tank3a commented on #464
@guastallaigor oh thank's for your comment and I'm sorry to hear that. Actually I've already made the Korean translation. As this is my first contribution to the open source, even if it cannot be merged to master right now.. I feel this is also awesome experience and want to PR.
Again I really appreciate your comment even on "discontinued(I guess?)", explaining me how this project is going on, and

[2021-07-13 13:04] guastallaigor commented on #464
@tank3a Sure thing. I've already reviewed your PR, after fixing the commit message I can merge it.
Thank you for your understanding.

[2021-07-13 17:08] guastallaigor commented on #464
ref #465

[2021-07-13 17:08] #464 closed, assigned to tank3a

[2021-07-22 12:09] ghutiyuj commented on #232
Miller, the CEO of New Gettr, is morally bankrupt. His sex scandal is known by people from all over the world. Pompeo is just a little guy who seeks a meal. As a result, Guo Wengui cannot get a good impression from the government. Instead, he will eventually be criticized by people for beasts, obscenity, political rumors gathering in the New Gettr. More importantly, he may even have new lawsuits.

[2021-07-22 12:26] BcRikko commented on #232
I've deleted the improper comment posted on this Issue.

[2021-08-03 18:05] djpietrotecnicoserver commented on #232
ciao mi chiamo pietro ianniello ho 27 anni provincia di citta di casagiove sono tecnico e un dj

[2021-10-06 11:54] hoangph271 commented on #427
Not only icons but buttons are broken on Chrome as well...!
<img width="342" alt="Screen Shot 2021-10-06 at 18 43 58" src="https://user-images.githubusercontent.com/39024711/136197303-8bbed132-9366-4bff-8e8b-17fd6bdc63ea.png">

Works well on Firefox...!
<img width="342" alt="Screen Shot 2021-10-06 at 18 44 08" src="https://user-images.githubusercontent.com/39024711/136197367-08803d27-823b-42d2-86c

[2021-10-12 13:42] neozeno opened #469 "`package.json`'s `engines` field having `"Node >= 10.0.0"` prevents installation with Node 16.9.1"
**Describe the bug**
Unable to install via yarn (1.22.11) having Node 16.9.1

**To Reproduce**

1. Install Node 16.9.1
2. Install Yarn 1.22.11
3. Attempt to install ness.css via Yarn
4. See error in console

**Expected behavior**
Package is installed successfully.

**Screenshots**
<img width="921" alt="Screen Shot 2021-10-12 at 8 34 49 AM" src="https://user-images.githubusercontent.com/49292621/13

[2021-10-13 15:44] shanethmoore commented on #469
Workaround which worked for me short term, when adding the package, add the flag `--ignore-engines`.

EG `yarn add nes.css --ignore-engines`.

[2021-11-23 12:52] MrCheatEugene opened #473 "Buttons on index.html aren't clickable"
Buttons, that are not disabled, won't click!
**Describe the bug**

Button displays as button, but when I move my cursor over it, it won't change, and when I click on button - it doesn't do anything.
Onclick event works perfectly from console. Also, the same code for the buttons work on other pages.
**To Reproduce**
I am not sure how reproduce the bug, because it only happens randomly and stands ev

[2021-11-29 06:40] yslius commented on #455
I think the aim was to make it similar to Container.is-dark.

![image](https://user-images.githubusercontent.com/47539124/143819209-01ab404f-bd91-470e-a034-de6a1c3afeb6.png)

scss\elements\containers.scss

    &::after {
      position: absolute;
      top: -$border-size * 1.8;
      right: -$border-size * 1.8;
      bottom: -$border-size * 1.8;
      left: -$border-size * 1.8;
      z-index: -1;

[2021-12-02 00:57] gasolin commented on #462
can take a look of this https://github.com/bschulte/nes-react ?

[2021-12-20 16:23] good-praxis commented on #452
#469 depicts the same issue. If it's fixed upstream, what does it take to get it into a release? This is a pretty breaking bug after all